{% extends "base.html" %}

{% block title %}
    RematesCR - Editar Perfil ({{ session.username }})
{% endblock title %}

{% block content %}
    <section class="editarA section">
        <div class="editarA__container container">
            <div class="editarA__forms">
                <form
                    action="{{ url_for('editar_perfil_admin') }}"
                    id="editarAdminForm"
                    class="editarA__form"
                    method="POST"
                    accept-charset="utf-8"
                >
                    <div class="editarA__form-title">
                        <h1>Editar Usuario</h1>
                    </div>
                    <div class="editarA__form-inputscont grid">
                        <div class="editarA__form-inputs" id="firstnameCont">
                            <p id="firstnameLabel"></p>
                            <label>Nombre</label>
                            <input
                                class="editarA__form-input"
                                autocomplete="off"
                                name="firstname"
                                type="text"
                                value="{{ admin_user.firstname }}"
                                id="firstname"
                            />
                        </div>
                        <div class="editarA__form-inputs" id="lastnameCont">
                            <p id="lastnameLabel"></p>
                            <label>Apellido</label>
                            <input
                                class="editarA__form-input"
                                autocomplete="off"
                                name="lastname"
                                type="text"
                                value="{{ admin_user.lastname }}"
                                id="lastname"
                            />
                        </div>
                    </div>
                    <div class="editarA__form-inputs" id="emailCont">
                        <p id="emailLabel"></p>
                        <label>Dirección E-Mail</label>
                        <input
                            class="editarA__form-input"
                            autocomplete="off"
                            name="email_adress"
                            type="text"
                            value="{{ admin_user.email_adress }}"
                            id="email"
                        />
                    </div>
                    <div class="line-horizontal"></div>
                    <h3 class="editarA__form-danger">
                        Actualizar Contraseña
                        <br>
                        (Opcional)
                    </h3>
                    <div class="editarA__form-inputs">
                        <label>Nueva Contraseña</label>
                        <input
                            class="editarA__form-input"
                            type="password"
                            autocomplete="off"
                            name="password"
                        />
                    </div>
                    <div class="line-horizontal"></div>
                    <div class="editarA__form-confirm">
                        <button class="editarA__form-confirm_btn" type="submit">
                            Confirmar
                        </button>
                    </div>
                    <div class="editarA__form-cancel">
                        <a href="{{ url_for('usuario_admin') }}" class="editarA__form-cancel_btn">
                            Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}
