{% extends "base.html" %}

{% block title %}
    RematesCR - Iniciar sesión admin
{% endblock title %}

{% block content %}
    <section class="iniciaradmin section">
        <div class="iniciaradmin__container container">
            <!-- NOTIFICATION -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="notification__container">
                            <div class="notification">
                                <div class="notification__content">
                                    <i class="ri-error-warning-line notification__content-icon"></i>
                                    <div class="notification__content-message">
                                        <span class="notification__content-title">
                                            Advertencia
                                        </span>
                                        <span class="notification__content-text">
                                            {{ message }}
                                        </span>
                                    </div>
                                </div>
                                <div class="notification__content-progress"></div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- FORM -->
            <div class="iniciaradmin__forms">
                <form action="{{ url_for('iniciar_sesion_admin') }}" method="POST" class="iniciaradmin__form" accept-charset="utf-8">
                    <div class="iniciaradmin__form-title">
                        <h1>Usuario Administrativo</h1>
                    </div>
                    <div class="iniciaradmin__form-inputs">
                        <label>Nombre de usuario</label>
                        <input
                            name="username"
                            autocomplete="off"
                            class="iniciaradmin__form-input"
                            type="text"
                            required
                        />
                    </div>
                    <div class="iniciaradmin__form-inputs">
                        <label>Contraseña</label>
                        <input
                            name="password"
                            autocomplete="off"
                            class="iniciaradmin__form-input"
                            type="password"
                            required
                        />
                    </div>
                    <div class="iniciaradmin__form-btns">
                        <button class="iniciaradmin__form-btn" type="submit">
                            Ingresar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}
