{% extends "base.html" %}

{% block title %}
    RematesCR - Usuario Admin
{% endblock title %}

{% block content %}
    <section class="admin section">
        <div class="admin__container container">
            <div class="admin__content">
                <div class="admin__card">
                    <div class="admin__card-profile">
                        <div class="admin__card-img">
                            <img
                                src="http://www.gravatar.com/avatar/{{ admin_user.gravatar }}?d=identicon"
                                alt="Perfil de usuario {{ admin_user.username }}"
                            />
                            <h1>{{ admin_user.username }}</h1>
                        </div>
                        <div class="admin__card-data grid">
                            <p class="admin__card-data_title">
                                Información personal
                            </p>
                            <p class="admin__card-data_info">
                                Nombre: {{ admin_user.firstname }}
                            </p>
                            <p class="admin__card-data_info">
                                Apellido: {{ admin_user.lastname }}
                            </p>
                            <p class="admin__card-data_info">
                                Correo: {{ admin_user.email_adress }}
                            </p>
                        </div>
                        <div class="admin__card-editar">
                            <a href="{{ url_for('editar_perfil_admin') }}" class="admin__card-btn">
                                Editar Perfil
                            </a>
                        </div>
                        <div class="admin__card-cerrar">
                            <a href="{{ url_for('cerrar_sesion') }}" class="admin__card-cerrar_btn">
                                Cerrar sesión
                            </a>
                        </div>
                    </div>
                </div>
                <div class="admin__tags">
                    <div class="admin__tags-container grid">
                        <div class="admin__tags-card">
                            <div class="admin__tags-card_title">
                                <h3>Total de usuarios</h3>
                            </div>
                            <div class="admin__tags-card_data">
                                <div>{{ total_data_info.total_users }}</div>
                                <i class="ri-group-fill admin__tags-card_icon"></i>
                            </div>
                        </div>
                        <div class="admin__tags-card">
                            <div class="admin__tags-card_title">
                                <h3>Usuarios con acceso al curso</h3>
                            </div>
                            <div class="admin__tags-card_data">
                                <div>{{ total_data_info.payment_completed_users }}</div>
                                <i class="ri-lock-unlock-fill admin__tags-card_icon"></i>
                            </div>
                        </div>
                        <div class="admin__tags-card">
                            <div class="admin__tags-card_title">
                                <h3>Usuarios sin acceso al curso</h3>
                            </div>
                            <div class="admin__tags-card_data">
                                <div>{{ total_data_info.payment_uncompleted_users }}</div>
                                <i class="ri-lock-fill admin__tags-card_icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="admin__table">
                <div class="admin__table-container">
                    <div class="admin__table-info">
                        <div>
                            <h3 class="admin__table-info_title">
                                Registro de Usuarios
                            </h3>
                        </div>
                        <div>
                            <a class="admin__table-info_btn" id="downloadBtn">
                                Descargar
                                <i class="ri-download-fill admin__table-info_icon"></i>
                            </a>
                        </div>
                        <div id="downloadLink"></div>
                    </div>
                    <div class="admin__table-tablecont">
                        <table class="admin__table-table">
                            <thead>
                                <tr>
                                    <td>Nombre</td>
                                    <td>Apellido</td>
                                    <td>Nombre de usuario</td>
                                    <td>Telefono</td>
                                    <td>Correo</td>
                                    <td>Dirección</td>
                                    <td>Codigo postal</td>
                                    <td>Curso</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.firstname }}</td>
                                        <td>{{ user.lastname }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.phonenumber }}</td>
                                        <td>{{ user.email_adress }}</td>
                                        <td>{{ user.adress }}</td>
                                        <td>{{ user.postal_code }}</td>
                                        <td>{{ user.payment_completed }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="admin__videos">
                <div class="admin__videos-container">
                    <h2 class="admin__videos-title">
                        Control de videos
                    </h2>
                    <div class="admin__videos-content">
                        <div class="admin__videos-content_btn">
                            <a href="{{ url_for('agregar_video') }}" class="admin__videos-content_btn_add">
                                Agregar video
                                <i class="ri-add-box-line"></i>
                            </a>
                        </div>
                        <div class="admin__videos-content_slide">
                            {% if videos|length == 0 %}
                                <div class="admin__videos-content_slide_empty">
                                    <div class="admin__videos-content_slide_empty_header">
                                        <h2>No hay videos disponibles en estos momentos</h2>
                                        <p>Agrega contenido nuevo para el sitio</p>
                                    </div>
                                    <div class="admin__videos-content_slide_empty_images">
                                        <img
                                            src="https://res.cloudinary.com/dajvxg9wj/image/upload/v1656871656/rematescostarica/empty-videos_mfpl1q.png"
                                            alt="Imgen de referencia en caso de no haber videos agregados"
                                            loading="lazy"
                                        />
                                    </div>
                                </div>
                            {% else %}
                                <div class="admin__videos-content_slide_container swiper">
                                    <div class="admin__videos-content_slide_cont">
                                        <div class="admin__videos-content_slide_wrapper swiper-wrapper">
                                            {% for video in videos %}
                                                <div class="admin__videos-content_slide_card swiper-slide">
                                                    <div class="admin__videos-content_slide_card_header">
                                                        <video>
                                                            <source src="{{ video.path_video }}">
                                                        </video>
                                                    </div>
                                                    <div class="admin__videos-content_slide_card_data">
                                                        <p>{{ video.title }}</p>
                                                    </div>
                                                    <div class="admin__videos-content_slide_card_btns">
                                                        <div>
                                                            <a href="" class="admin__videos-content_slide_card_btns_edit">
                                                                Editar
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <a href="" class="admin__videos-content_slide_card_btns_delete">
                                                                Eliminar
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="swiper-button-next">
                                        <i class="ri-arrow-right-s-fill admin__videos-content_slide_icon"></i>
                                    </div>
                                    <div class="swiper-button-prev">
                                        <i class="ri-arrow-left-s-fill admin__videos-content_slide_icon"></i>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
