{% extends "base-dashboard.html" %}

{% block content %}
{% include "partials/header-dashboard.html" %}
<section class="user__video">
  <h2 class="section__title">
    Curso actual: {{ course.course_name }}
  </h2>
</section>
<section class="user__video section">
  <div class="user__video-current">
    <div class="user__video-current_iframe">
      <iframe src="{{ current_video.video_url }}" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="user__video-current_content">
      <h3>{{ current_video.video_name }}</h3>
      <div class="user__video-current_content_desc">
        {{ current_video.video_desc|safe }}
      </div>
    </div>
  </div>
</section>
<section class="user__video">
  <h2 class="section__title">Lista de videos</h2>
  <div class="user__video-videos">
    {% for video in videos %}
    {% if video.id == current_video.id %}
    <div class="user__video-videos_current"></div>
    {% else %}
    <a
      href="{{ url_for('user.dashboard_video', student_code=student_code,
      video_code=video.video_code) }}"
      class="user__video-videos_card"
    >
      <div class="user__video-videos_card_iframe">
        <iframe src="{{ video.video_url }}" loading="lazy"></iframe>
      </div>
      <div class="user__video-videos_card_content">
        <h3>{{ video.video_name }}</h3>
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div>
</section>
{% endblock content %}
