<footer class="footer section">
  <div class="footer__container container">
    <h2 class="footer__title section__title">
      RematesCR      
    </h2>
    <div class="footer__content">
      <ul class="footer__content-list">
        <li class="footer__content-item">
          <a href="{{ url_for('main.index') }}" class="footer__content-link">Inicio</a>
        </li>
        <li class="footer__content-item">
          <a href="#nosotros" class="footer__content-link">Nosotros</a>
        </li>
        <li class="footer__content-item">
          <a href="#cursos" class="footer__content-link">Cursos</a>
        </li>
        <li class="footer__content-item">
          <a href="#precios" class="footer__content-link">Precios</a>
        </li>
        <li class="footer__content-item">
          <a href="#contacto" class="footer__content-link">Contacto</a>
        </li>
      </ul>
    </div>
    <div class="footer__copy">
      <p class="footer__copy-company">
        ©2023 Digital Dev Content.
        Todos los derechos reservados.
      </p>
      <span class="footer__copy-author">
        Desarrollado por
        <a href="https://github.com/Remy349" target="_blank">
          Santiago Moraga
        </a>.
      </span>
    </div>
  </div>
</footer>
