{% extends "base-dashboard.html" %}

{% block content %}
{% include "partials/header-dashboard.html" %}
<section class="admin__ciclo">
  <div class="admin__ciclo-header">
    <h2 class="section__title">Agregar video</h2>
    <a
      href="{{ url_for('admin.cursos_ciclo', course_code=course.course_code,
      cycle_code=cycle.cycle_code) }}"
      class="admin__ciclo-header_volver"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
      </svg>
      Atrás
    </a>
  </div>
</section>
<section class="admin__addcurso section">
  <form action="" method="POST" class="admin__addcurso-form">
    {{ form.hidden_tag() }}
    {{ form.video_name(class_='admin__addcurso-form_input', placeholder='Titulo del video',
    autocomplete='off') }}
    {{ form.video_url(class_='admin__addcurso-form_input', autocomplete='off') }}
    {{ form.video_desc() }}
    {{ form.submit(class_='admin__addcurso-form_submit') }}
    <a
      href="{{ url_for('admin.cursos_ciclo', course_code=course.course_code,
      cycle_code=cycle.cycle_code) }}"
      class="admin__addcurso-form_cancel"
    >
      Cancelar
    </a>
  </form>
</section>
{{ ckeditor.load(pkg_type='basic') }}
{{ ckeditor.config(name='video_desc', height=300) }}
{% endblock content %}
