{% extends "base-dashboard.html" %}

{% block content %}
{% include "partials/header-dashboard.html" %}
<section class="admin__ciclo">
  <div class="admin__ciclo-header">
    <h2 class="section__title">{{ cycle.cycle_name }}</h2>
    <a
      href="{{ url_for('admin.cursos_control', course_code=course.course_code) }}"
      class="admin__ciclo-header_volver"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
      </svg>
      Atrás
    </a>
  </div>
</section>
<section class="admin__ciclo section">
  <h2 class="section__title">Videos del ciclo</h2>
  <div class="admin__ciclo-actions">
    <a
      href="{{ url_for('admin.cursos_agregar_video', course_code=course.course_code,
      cycle_code=cycle.cycle_code) }}"
      class="admin__ciclo-actions_btn">
      Agregar
    </a>
  </div>
  <div class="admin__ciclo-videos">
    {% if videos|length < 1 %}
    <div class="admin__ciclo-videos_image">
      <img src="{{ url_for('static', filename='img/add-videos.png') }}" alt="No hay videos agregados." />
      <p class="admin__ciclo-videos_image_text">
        Aún no hay videos registrados.
        <br />
        Agrega alguno para el ciclo.
      </p>
    </div>
    {% else %}
    <div class="admin__ciclo-videos_cards">
      {% for video in videos %}
      <a
        href="{{ url_for('admin.cursos_ciclo_video', course_code=course.course_code,
        cycle_code=cycle.cycle_code, video_code=video.video_code) }}"
        class="admin__ciclo-videos_card"
      >
        <div class="admin__ciclo-videos_card_iframe">
          <iframe src="{{ video.video_url }}"></iframe>
        </div>
        <div class="admin__ciclo-videos_card_content">
          <h3>{{ video.video_name }}</h3>
          <div>
            {{ video.video_desc|safe }}
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>
<section class="admin__ciclo">
  <h2 class="section__title">Actualizar ciclo</h2>
  <form action="" method="POST" class="admin__addcurso-form">
    {{ form.hidden_tag() }}
    {{ form.cycle_name(class_='admin__addcurso-form_input', placeholder='Nombre del ciclo',
    autocomplete='off') }}
    {{ form.cycle_desc() }}
    {{ form.submit(class_='admin__addcurso-form_submit', value='Actualizar') }}
  </form>
</section>
<section class="admin__ciclo section">
  <h2 class="section__title admin__ciclo-danger_title">Eliminar ciclo</h2>
  <div class="admin__ciclo-danger">
    <a
      href="{{ url_for('admin.cursos_ciclo_eliminar', course_code=course.course_code,
      cycle_code=cycle.cycle_code) }}"
      class="admin__ciclo-danger_delete"
    >
      Eliminar
    </a>
  </div>
</section>
{{ ckeditor.load(pkg_type='basic') }}
{{ ckeditor.config(name='cycle_desc', height=300) }}
{% endblock content %}
