{% extends "base.html" %}

{% block content %}
<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="hero__content-title">
        <span class="hero__content-title_white">Ayudando</span> a que
        consigas tu <span class="hero__content-title_white">próximo</span>
        <span class="hero__content-title_red">hogar!</span>
      </h1>
      <p class="hero__content-desc">
        Estamos enfocados en que tomes las mejores decisiones
        antes de comprar una propiedad.
      </p>
      <a href="" class="hero__content-btn">Regístrate</a>
    </div>
    <div class="hero__image">
      <img
        class="hero__image-img"
        src="{{ url_for('static', filename='img/hero-image.jpg') }}"
        alt="Imagen de una propiedad"
      />
    </div>
  </div>
</section>
<section class="about section" id="nosotros">
  <div class="about__container container">
    <div class="about__content">
      <h2 class="about__content-title section__title">
        Sobre
        <br />
        Nosotros
      </h2>
      <div class="about__content-info">
        <p>
          Remates Judiciales es un empresa dedicada a la
          enseñanza del proceso de Remate inmobiliario.
          Enseñamos a nuestros alumnos a identificar
          fácilmente, negociar y participar en un
          remate judicial y adjudicarse propiedades.
        </p>
        <p>
          Desde 2002 compramos propiedades para
          nosotros y asesoramos a nacionales y extranjeros
          para la compra de propiedades en Remates
          Judiciales y en quema.
        </p>
        <p>
          Somos la única página web que educa, orienta,
          participa y compra propiedades en remate.
        </p>
        <p>
          Nuestro fundador es el Lic. Randall Hernández, conocido en
          el mundo de los remates como Mr. Remate. Ha participado
          en más de 500 remates, y se ha adjudicado fincas, casas,
          lotes y condominios para él y para muchos clientes
          deseosos de multiplicar su capital
        </p>
      </div>
    </div>
    <div class="about__image">
      <div class="about__image-container">
        <div class="about__image-circle"></div>
        <img
          class="about__image-img"
          src="{{ url_for('static', filename='img/about-image.jpg') }}"
          alt="Lic. Randall Hernández"
        />
        <div class="about__image-circle"></div>
      </div>
    </div>
  </div>
</section>
<section class="cursos section" id="cursos">
  <div class="cursos__container container">
    <h2 class="cursos__title section__title">Cursos</h2>
    <p class="cursos__desc">
      Aprendera a generar un ingreso real y constante.
      Participe en este curso y conozca el secreto de adjudicarse
      propiedades antes que los bancos en los Remates
      Inmobiliarios de los Juzgados!
    </p>
    <div class="cursos__cards">
      <article class="cursos__cards-card">
        <img
          class="cursos__cards-card_img"
          src="{{ url_for('static', filename='img/cursos-vivo.jpg') }}"
          alt="Curso en vivo"
        />
        <div class="cursos__cards-card_type">
          Vivo
        </div>
        <div class="cursos__cards-card_body">
          <p>
            Clase en vivo, toda la orientación
            gratis después del curso.
          </p>
        </div>
        <div class="cursos__cards-card_link">
          <a href="">Más Detalle</a>
        </div>
      </article>
      <article class="cursos__cards-card">
        <img
          class="cursos__cards-card_img"
          src="{{ url_for('static', filename='img/cursos-pregrabado.jpeg') }}"
          alt="Curso pregrabado"
        />
        <div class="cursos__cards-card_type">
          Pregrabado
        </div>
        <div class="cursos__cards-card_body">
          <p>
            Cada sesión de trabajo es grabada
            y los alumnos tienen acceso 24/7.
          </p>
        </div>
        <div class="cursos__cards-card_link">
          <a href="">Más Detalle</a>
        </div>
      </article>
    </div>
  </div>
</section>
<section class="testimonios section"></section>
{% endblock content %}
