{% extends "base.html" %}

{% block content %}
<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="hero__content-title">
        <span class="hero__content-title_white">Ayudando</span> a que
        consigas tu <span class="hero__content-title_white">próximo</span>
        <span class="hero__content-title_red">hogar!</span>
      </h1>
      <p class="hero__content-desc">
        Estamos enfocados en que tomes las mejores decisiones
        antes de comprar una propiedad.
      </p>
      <a href="" class="hero__content-btn">Regístrate</a>
    </div>
    <div class="hero__image">
      <img
        class="hero__image-img"
        src="{{ url_for('static', filename='img/hero-image.jpg') }}"
        alt="Imagen de una propiedad"
      />
    </div>
  </div>
</section>
<section class="about section" id="nosotros">
  <div class="about__container container">
    <div class="about__content">
      <h2 class="about__content-title section__title">
        Sobre
        <br />
        Nosotros
      </h2>
      <div class="about__content-info">
        <p>
          Remates Judiciales es un empresa dedicada a la
          enseñanza del proceso de Remate inmobiliario.
          Enseñamos a nuestros alumnos a identificar
          fácilmente, negociar y participar en un
          remate judicial y adjudicarse propiedades.
        </p>
        <p>
          Desde 2002 compramos propiedades para
          nosotros y asesoramos a nacionales y extranjeros
          para la compra de propiedades en Remates
          Judiciales y en quema.
        </p>
        <p>
          Somos la única página web que educa, orienta,
          participa y compra propiedades en remate.
        </p>
        <p>
          Nuestro fundador es el Lic. Randall Hernández, conocido en
          el mundo de los remates como Mr. Remate. Ha participado
          en más de 500 remates, y se ha adjudicado fincas, casas,
          lotes y condominios para él y para muchos clientes
          deseosos de multiplicar su capital
        </p>
      </div>
    </div>
    <div class="about__image">
      <div class="about__image-container">
        <div class="about__image-circle"></div>
        <img
          class="about__image-img"
          src="{{ url_for('static', filename='img/about-image.jpg') }}"
          alt="Lic. Randall Hernández"
        />
        <div class="about__image-circle"></div>
      </div>
    </div>
  </div>
</section>
<section class="cursos section" id="cursos">
  <div class="cursos__container container">
    <h2 class="cursos__title section__title">Cursos</h2>
    <p class="cursos__desc">
      Aprendera a generar un ingreso real y constante.
      Participe en este curso y conozca el secreto de adjudicarse
      propiedades antes que los bancos en los Remates
      Inmobiliarios de los Juzgados!
    </p>
    <div class="cursos__cards">
      <article class="cursos__cards-card">
        <img
          class="cursos__cards-card_img"
          src="{{ url_for('static', filename='img/cursos-vivo.jpg') }}"
          alt="Curso en vivo"
        />
        <div class="cursos__cards-card_type">
          Vivo
        </div>
        <div class="cursos__cards-card_body">
          <p>
            Clase en vivo, toda la orientación
            gratis después del curso.
          </p>
        </div>
        <div class="cursos__cards-card_link">
          <a href="#precios">Más Detalle</a>
        </div>
      </article>
      <article class="cursos__cards-card">
        <img
          class="cursos__cards-card_img"
          src="{{ url_for('static', filename='img/cursos-pregrabado.jpeg') }}"
          alt="Curso pregrabado"
        />
        <div class="cursos__cards-card_type">
          Pregrabado
        </div>
        <div class="cursos__cards-card_body">
          <p>
            Cada sesión de trabajo es grabada
            y los alumnos tienen acceso 24/7.
          </p>
        </div>
        <div class="cursos__cards-card_link">
          <a href="#precios">Más Detalle</a>
        </div>
      </article>
    </div>
  </div>
</section>
<section class="testimonios section">
  <div class="testimonios__container container">
    <h2 class="testimonios__title section__title">Testimonios</h2>
    <p class="testimonios__desc">
      Para nosotros es importante que usted realmente aprenda a comprar
      y a multiplicar sus ingresos.
    </p>
    <div class="testimonios__cards">
      <figure class="testimonios__cards-card">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"/>
        </svg>
        <div class="testimonios__cards-card_body">
          <blockquote class="testimonios__cards-card_testimonio">
            "El Lic. Randall Hernández es un profesor excepcional en la compra y venta de propiedades en remates judiciales.
            Aprendí técnicas efectivas para cerrar negociaciones exitosas en el mercado inmobiliario judicial
            gracias a su conocimiento y pasión."
          </blockquote>
          <figcaption class="testimonios__cards-card_perfil">
            <img
              class="testimonios__cards-card_perfil_img"
              src="{{ url_for('static', filename='img/testimonio.jpg') }}"
              alt="Perfil del testimonio"
            />
            <p class="testimonios__cards-card_perfil_name">
              Alejandro López
            </p>
          </figcaption>
        </div>
      </figure>
      <figure class="testimonios__cards-card">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"/>
        </svg>
        <div class="testimonios__cards-card_body">
          <blockquote class="testimonios__cards-card_testimonio">
            "Tomar el curso con el Lic. Randall Hernández fue una decisión acertada.
            Sus consejos realistas y amplia experiencia me ayudaron a mejorar mis habilidades
            de venta en el mercado inmobiliario judicial."
          </blockquote>
          <figcaption class="testimonios__cards-card_perfil">
            <img
              class="testimonios__cards-card_perfil_img"
              src="{{ url_for('static', filename='img/testimonio.jpg') }}"
              alt="Perfil del testimonio"
            />
            <p class="testimonios__cards-card_perfil_name">
              Juan Hernández
            </p>
          </figcaption>
        </div>
      </figure>
      <figure class="testimonios__cards-card">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"/>
        </svg>
        <div class="testimonios__cards-card_body">
          <blockquote class="testimonios__cards-card_testimonio">
            "El curso con el Lic. Randall Hernández superó mis expectativas.
            Adquirí las habilidades necesarias para destacarme en la venta de propiedades judiciales gracias
            a su dedicación y habilidad para explicar conceptos complejos."
          </blockquote>
          <figcaption class="testimonios__cards-card_perfil">
            <img
              class="testimonios__cards-card_perfil_img"
              src="{{ url_for('static', filename='img/testimonio.jpg') }}"
              alt="Perfil del testimonio"
            />
            <p class="testimonios__cards-card_perfil_name">
              Diego Martínez
            </p>
          </figcaption>
        </div>
      </figure>
    </div>
  </div>
</section>
<section class="precios section" id="precios">
  <div class="precios__container container">
    <h2 class="precios__title section__title">Nuestros Precios</h2>
    <p class="precios__desc">
      La idea de Remates Costa Rica es que quien lleve este curso, tenga la tranquilidad y
      seguridad del respaldo de un experto en el tema, que sea su apoyo y guía en este negocio.
    </p>
    <div class="precios__cards">
      <article class="precios__cards-card">
        <span class="precios__cards-card_type">Pregrabado</span>
        <h3 class="precios__cards-card_money">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path d="M255 39.8c4.3-17.1-6.1-34.5-23.3-38.8S197.2 7.1 193 24.2L181.9 68.6C96.1 87.8 32 164.4 32 256c0 58.1 25.8 110.2 66.7 145.4L81 472.2c-4.3 17.1 6.1 34.5 23.3 38.8s34.5-6.1 38.8-23.3l13-52.1c9 3.4 18.4 6.2 28 8.2L177 472.2c-4.3 17.1 6.1 34.5 23.3 38.8s34.5-6.1 38.8-23.3l10.4-41.4c33.4-4.4 64.1-17.4 89.8-36.7c14.1-10.6 17-30.7 6.4-44.8s-30.7-17-44.8-6.4c-10.2 7.7-21.7 13.9-34 18.3L321 160c9.4-.3 18.5-4.7 24.6-12.8c10.6-14.1 7.8-34.2-6.4-44.8c-1.1-.8-2.2-1.6-3.3-2.4L351 39.8c4.3-17.1-6.1-34.5-23.3-38.8S293.2 7.1 289 24.2L277.2 71.5c-9.3-2.7-18.8-4.6-28.6-5.9L255 39.8zM163.2 143.3L117.3 326.8C103.9 306.5 96 282.2 96 256c0-48.7 27.2-91 67.2-112.7zm8.6 229.5l61.1-244.6c9.9 .7 19.5 2.5 28.7 5.3l-62 248.1c-9.7-1.9-19-4.8-27.8-8.8z"/>
          </svg>
          55,000
        </h3>
        <div class="precios__cards-card_body">
          <ul>
            <li>Acceso para que pueda ver la clase una y otra vez 24/7.</li>
            <li>Sin necesidad de trasladarse a ningun lugar.</li>
            <li>Más de 13 horas de estudio, prácticas y nuevas herramientas.</li>
            <li>Mucho más...</li>
          </ul>
        </div>
        <div class="precios__cards-card_btn">
          <a href="" class="precios__cards-card_btn_comprar">
            Comprar
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
            </svg>
          </a>
        </div>
      </article>
      <article class="precios__cards-card">
        <span class="precios__cards-card_type">Vivo</span>
        <h3 class="precios__cards-card_money">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path d="M255 39.8c4.3-17.1-6.1-34.5-23.3-38.8S197.2 7.1 193 24.2L181.9 68.6C96.1 87.8 32 164.4 32 256c0 58.1 25.8 110.2 66.7 145.4L81 472.2c-4.3 17.1 6.1 34.5 23.3 38.8s34.5-6.1 38.8-23.3l13-52.1c9 3.4 18.4 6.2 28 8.2L177 472.2c-4.3 17.1 6.1 34.5 23.3 38.8s34.5-6.1 38.8-23.3l10.4-41.4c33.4-4.4 64.1-17.4 89.8-36.7c14.1-10.6 17-30.7 6.4-44.8s-30.7-17-44.8-6.4c-10.2 7.7-21.7 13.9-34 18.3L321 160c9.4-.3 18.5-4.7 24.6-12.8c10.6-14.1 7.8-34.2-6.4-44.8c-1.1-.8-2.2-1.6-3.3-2.4L351 39.8c4.3-17.1-6.1-34.5-23.3-38.8S293.2 7.1 289 24.2L277.2 71.5c-9.3-2.7-18.8-4.6-28.6-5.9L255 39.8zM163.2 143.3L117.3 326.8C103.9 306.5 96 282.2 96 256c0-48.7 27.2-91 67.2-112.7zm8.6 229.5l61.1-244.6c9.9 .7 19.5 2.5 28.7 5.3l-62 248.1c-9.7-1.9-19-4.8-27.8-8.8z"/>
          </svg>
          75,000
        </h3>
        <div class="precios__cards-card_body">
          <ul>
            <li>Acceso para que pueda ver la clase una y otra vez 24/7.</li>
            <li>Sin necesidad de trasladarse a ningun lugar.</li>
            <li>Más de 13 horas de estudio, prácticas y nuevas herramientas.</li>
            <li>Cada clase tiene una duración de dos horas cuarenta minutos.</li>
            <li>Toda la orientación gratis después del curso.</li>
            <li>Mucho más...</li>
          </ul>
        </div>
        <div class="precios__cards-card_btn">
          <a href="" class="precios__cards-card_btn_comprar">
            Comprar
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
            </svg>
          </a>
        </div>
      </article>
    </div>
  </div>
</section>
<section class="faq section">
  <div class="faq__container container">
    <h2 class="faq__title section__title">
      Preguntas
      <br />
      Frecuentes
    </h2>
    <div class="faq__content">
      <details class="faq__content-faq">
        <summary class="faq__content-faq_question">
          ¿Cómo funciona el registro nuestra página?
        </summary>
        <p class="faq__content-faq_answer">
          Es simple, adquiere alguno de los cursos que te ofrecemos y el que sea de tu interés,
          llena los datos del formulario que se te mostrara, esto es esencial para tu registro y la creación de tu usuario,
          procede con la compra del curso a través de PayPal y luego que la compra se complete,
          recibirás en tu correo la información de tus datos para que puedas ingresar a tu espacio de trabajo.
        </p>
      </details>
      <details class="faq__content-faq">
        <summary class="faq__content-faq_question">
          ¿Cómo se reserva un espacio?
        </summary>
        <p class="faq__content-faq_answer">
          Puede reservar su espacio a través de SINPE MOVIL al 8305-1190 o por medio de un deposito bancario,
          o a través de la cuenta de PayPal (si quiere pagar con tarjeta de crédito),
          o a través del registro en nuestra página.
        </p>
      </details>
      <details class="faq__content-faq">
        <summary class="faq__content-faq_question">
          ¿Dónde realizo el depósito bancario?
        </summary>
        <p class="faq__content-faq_answer">
          El depósito debe realizarse a la cuenta en colones del Banco Nacional número 200-01-012-033492-1,
          o cuenta IBAN: CR83015101220010334921 a nombre de Randall Hernández Marín, cédula 1-0872-0465.
          Recuerde que si deposita desde otra cuenta que no sea el Banco Nacional debe utilizar la CUENTA IBAN.
        </p>
      </details>
      <details class="faq__content-faq">
        <summary class="faq__content-faq_question">
          ¿Dónde realizo el depósito bancario si es desde otra cuenta que sea el Banco Nacional?
        </summary>
        <p class="faq__content-faq_answer">
          Banco de Costa Rica - IBAN: CR77015202001219144863,
          a nombre de Randall Hernández Marín, cédula 1-872-465.
        </p>
      </details>
      <details class="faq__content-faq">
        <summary class="faq__content-faq_question">
          ¿Qué hacer luego si mi registro lo hice usando otro metodo que no sea el registro de la página de remates?
        </summary>
        <p class="faq__content-faq_answer">
          Una vez que realiza el depósito es necesario que envíe un correo a info@rematescostarica.com,
          ahí debe de indicar: Nombre completo del participante, número de celular y correo.
          <br /><br />
          Una vez confirmado el depósito, se le enviará información importante que debe de revisar
          y estudiar antes del Curso; esto con el fin de que se familiarice con la estructura de la información
          y los conceptos que se desarrollaran.
        </p>
      </details>
    </div>
  </div>
</section>
<section class="contact section" id="contacto">
  <div class="contact__container container">
    <h2 class="contact__title section__title">
      ¿Tienes alguna duda?
      <br />
      <span>Contáctanos</span>
    </h2>
    <div class="contact__email">
      <a href="mailto:info@rematescostarica.com" class="contact__email-link">
        info@rematescostarica.com
      </a>
    </div>
    <div class="contact__social">
      <a href="https://www.facebook.com/rematesjudiciales.costarica" target="_blank" class="contact__social-link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
          <path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/>
        </svg>
      </a>
      <a href="https://www.tiktok.com/@rematescostarica" target="_blank" class="contact__social-link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z"/>
        </svg>
      </a>
    </div>
  </div>
</section>
{% endblock content %}
