@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .section {
    padding: 6rem 0 4.5rem;

    &__title {
      margin-bottom: 2.5rem;
      font-size: 1.75rem;
    }
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 100%;
    margin-right: 0;
  }

  .main {
    position: absolute;
    margin-left: 330px;
    top: 0;
    width: calc(100% - 360px);
  }
}
