{% extends "base.html" %}

{% block title %}
    RematesCR - Comprar curso
{% endblock title %}

{% block content %}
    <section class="comprar section">
        <div class="comprar__container container">
            <div class="comprar__card" id="comprarCursoCard">
                <div class="comprar__card-header">
                    <h3>Estudie desde su casa!</h3>
                </div>
                <div class="comprar__card-data">
                    <div>
                        <i class="ri-check-line"></i>
                        <p>Más de 13 horas de estudio, prácticas y nuevas herramientas</p>
                    </div>
                    <div>
                        <i class="ri-check-line"></i>
                        <p>Sesiones de más de 2 horas y media.</p>
                    </div>
                    <div>
                        <i class="ri-check-line"></i>
                        <p>Toda la orientacion gratis despues del curso.</p>
                    </div>
                    <div>
                        <i class="ri-check-line"></i>
                        <p>Lista semanal disponible y actualizada de Remates Judiciales.</p>
                    </div>
                    <div>
                        <i class="ri-check-line"></i>
                        <p>Acceso para que pueda ver la clase una y otra vez 24/7.</p>
                    </div>
                    <div>
                        <i class="ri-check-line"></i>
                        <p>Sin necesidad de trasladarse a ningun lugar.</p>
                    </div>
                </div>
                <div id="paypal-button-container"></div>
            </div>
        </div>
    </section>
{% endblock content %}
