{% extends "base.html" %}

{% block title %}
    RematesCR - Cursos
{% endblock title %}

{% block content %}
    <section class="cursos section">
        <div class="cursos__container container">
            <h1 class="cursos__title">CURSO ONLINE</h1>
            <p class="cursos__profesor">
                <b>Lic. Randall Hernández</b>
                <br>
                comprador, vendedor, experto en cierre de ventas de propiedades, corredor de bienes raíces e instructor prágmatico.
            </p>
            <div class="cursos__free grid">
                <div class="cursos__free-videos">
                    <div class="cursos__free-videos_video">
                        <img src="{{ url_for('static', filename='img/Randall.jpg') }}" alt="Video de informacion sobre el curso">
                    </div>
                    <div class="cursos__free-videos_data">
                        <p>
                            Aprendera a generar un ingreso real y constante.
                            Participe en este curso y conozca el secreto de adjudicarse propiedades antes que los bancos en los Remates Inmobiliarios de los Juzgados!
                        </p>
                    </div>
                </div>
                <div class="cursos__free-cards">
                    <div class="cursos__free-cards_card">
                        <div class="cursos__free-cards_header">
                            <h3>Estudie desde su casa!</h3>
                        </div>
                        <div class="cursos__free-cards_data">
                            <div>
                                <i class="ri-check-line"></i>
                                <p>Más de 13 horas de estudio, prácticas y nuevas herramientas</p>
                            </div>
                            <div>
                                <i class="ri-check-line"></i>
                                <p>Sesiones de más de 2 horas y media.</p>
                            </div>
                            <div>
                                <i class="ri-check-line"></i>
                                <p>Toda la orientacion gratis despues del curso.</p>
                            </div>
                            <div>
                                <i class="ri-check-line"></i>
                                <p>Lista semanal disponible y actualizada de Remates Judiciales.</p>
                            </div>
                            <div>
                                <i class="ri-check-line"></i>
                                <p>Acceso para que pueda ver la clase una y otra vez 24/7.</p>
                            </div>
                            <div>
                                <i class="ri-check-line"></i>
                                <p>Sin necesidad de trasladarse a ningun lugar.</p>
                            </div>
                        </div>
                        {% if session.user_id %}
                            {% if current_user.payment_completed == "Sin Adquirir" %}
                                <div class="cursos__free-cards_btns">
                                    <a href="{{ url_for('comprar_curso') }}" class="cursos__free-cards_btn">
                                        Comprar curso ahora
                                    </a>
                                </div>
                            {% else %}
                                <div class="cursos__free-cards_btns" style="display: none;">
                                    <a href="{{ url_for('comprar_curso') }}" class="cursos__free-cards_btn">
                                        Comprar curso ahora
                                    </a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="cursos__free-cards_btns">
                                <a href="{{ url_for('iniciar_sesion') }}" class="cursos__free-cards_btn">
                                    Comprar curso ahora
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if current_user.payment_completed == "Sin Adquirir" %}
                {% if videos|length == 0 %}
                    <div class="cursos__empty">
                        <div class="cursos__empty-header">
                            <h2>No hay videos disponibles en estos momentos</h2>
                            <p>El administrador del sitio los agregara proximamente</p>
                        </div>
                        <div class="cursos__empty-images">
                            <img
                                src="https://res.cloudinary.com/dajvxg9wj/image/upload/v1656871656/rematescostarica/empty-videos_mfpl1q.png"
                                alt="Imgen de referencia en caso de no haber videos agregados"
                                loading="lazy"
                            />
                        </div>
                    </div>
                {% else %}
                    <div class="cursos__more">
                        {% for video in videos %}
                            <div>
                                <div class="cursos__more-content cursos__more-close">
                                    <div class="cursos__more-header">
                                        <div>
                                            <h2 class="cursos__more-title">
                                                {{ video.title }}
                                            </h2>
                                        </div>
                                        <i class="ri-arrow-down-s-line cursos__more-arrow"></i>
                                    </div>
                                    <div class="cursos__more-data">
                                        <div>
                                            <i class="ri-checkbox-blank-circle-fill"></i>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                                        </div>
                                        <div>
                                            <i class="ri-checkbox-blank-circle-fill"></i>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                                        </div>
                                        <div>
                                            <i class="ri-checkbox-blank-circle-fill"></i>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                                        </div>
                                        <div class="cursos__more-btns">
                                            <a href="{{ url_for('comprar_curso') }}" class="cursos__more-btn">
                                                Ver Clase
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% else %}
                {% if videos|length == 0 %}
                    <div class="cursos__empty">
                        <div class="cursos__empty-header">
                            <h2>No hay videos disponibles en estos momentos</h2>
                            <p>El administrador del sitio los agregara proximamente</p>
                        </div>
                        <div class="cursos__empty-images">
                            <img
                                src="https://res.cloudinary.com/dajvxg9wj/image/upload/v1656871656/rematescostarica/empty-videos_mfpl1q.png"
                                alt="Imgen de referencia en caso de no haber videos agregados"
                                loading="lazy"
                            />
                        </div>
                    </div>
                {% else %}
                    <div class="cursos__more">
                        {% for video in videos %}
                            <div>
                                <div class="cursos__more-content cursos__more-close">
                                    <div class="cursos__more-header">
                                        <div>
                                            <h2 class="cursos__more-title">
                                                {{ video.title }}
                                            </h2>
                                        </div>
                                        <i class="ri-arrow-down-s-line cursos__more-arrow"></i>
                                    </div>
                                    <div class="cursos__more-data">
                                        <div>
                                            <i class="ri-checkbox-blank-circle-fill"></i>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                                        </div>
                                        <div>
                                            <i class="ri-checkbox-blank-circle-fill"></i>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                                        </div>
                                        <div>
                                            <i class="ri-checkbox-blank-circle-fill"></i>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                                        </div>
                                        <div class="cursos__more-btns">
                                            <a href="{{ url_for('videos', video_id=video.id) }}" class="cursos__more-btn">
                                                Ver Clase
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock content %}
