{% extends "base.html" %}

{% block title %}
    RematesCR - Editar Perfil ({{ session.username }})
{% endblock title %}

{% block content %}
    <section class="editarU section">
        <div class="editarU__container container">
            <div class="editarU__forms">
                <form
                    action="{{ url_for('editar_perfil', username=session.username) }}"
                    method="POST"
                    class="editarU__form"
                    id="editarUserForm"
                    accept-charset="utf-8"
                >
                    <div class="editarU__form-title">
                        <h1>Editar Usuario</h1>
                    </div>
                    <div class="editarU__form-inputscont grid">
                        <div class="editarU__form-inputs" id="firstnameCont">
                            <p id="firstnameLabel"></p>
                            <label>Nombre</label>
                            <input
                                class="editarU__form-input"
                                autocomplete="off"
                                type="text"
                                name="firstname"
                                value="{{ current_user.firstname }}"
                                id="firstname"
                            />
                        </div>
                        <div class="editarU__form-inputs" id="lastnameCont">
                            <p id="lastnameLabel"></p>
                            <label>Apellido</label>
                            <input
                                class="editarU__form-input"
                                autocomplete="off"
                                value="{{ current_user.lastname }}"
                                type="text"
                                name="lastname"
                                id="lastname"
                            />
                        </div>
                    </div>
                    <div class="editarU__form-inputs" id="emailCont">
                        <p id="emailLabel"></p>
                        <label>Dirección E-Mail</label>
                        <input
                            type="text"
                            class="editarU__form-input"
                            autocomplete="off"
                            value="{{ current_user.email_adress }}"
                            id="email"
                            name="email_adress"
                        />
                    </div>
                    <div class="editarU__form-inputscont grid">
                        <div class="editarU__form-inputs" id="phoneCont">
                            <p id="phoneLabel"></p>
                            <label>Teléfono</label>
                            <input
                                class="editarU__form-input"
                                type="text"
                                id="phone"
                                name="phonenumber"
                                autocomplete="off"
                                value="{{ current_user.phonenumber }}"
                            />
                        </div>
                        <div class="editarU__form-inputs">
                            <label>Código Postal</label>
                            <input
                                class="editarU__form-input"
                                autocomplete="off"
                                name="postal_code"
                                type="text"
                                value="{{ current_user.postal_code }}"
                            />
                        </div>
                    </div>
                    <div class="editarU__form-inputs">
                        <label>Dirección</label>
                        <input
                            class="editarU__form-input"
                            autocomplete="off"
                            type="text"
                            name="adress"
                            value="{{ current_user.adress }}"
                        />
                    </div>
                    <div class="line-horizontal"></div>
                    <h3 class="editarU__form-danger">
                        Actualizar Contraseña
                        <br>
                        (Opcional)
                    </h3>
                    <div class="editarU__form-inputs">
                        <label>Nueva Contraseña</label>
                        <input
                            class="editarU__form-input"
                            autocomplete="off"
                            name="password"
                            type="password"
                        />
                    </div>
                    <div class="line-horizontal"></div>
                    <div class="editarU__form-confirm">
                        <button class="editarU__form-confirm_btn" type="submit">
                            Confirmar
                        </button>
                    </div>
                    <div class="editarU__form-cancel">
                        <a href="{{ url_for('perfil', username=session.username) }}" class="editarU__form-cancel_btn">
                            Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}
