{% extends "base.html" %}

{% block pixel %}
<script>
  !(function (f, b, e, v, n, t, s) {
    if (f.fbq) return
    n = f.fbq = function () {
      n.callMethod
        ? n.callMethod.apply(n, arguments)
        : n.queue.push(arguments)
    }
    if (!f._fbq) f._fbq = n
    n.push = n
    n.loaded = !0
    n.version = '2.0'
    n.queue = []
    t = b.createElement(e)
    t.async = !0
    t.src = v
    s = b.getElementsByTagName(e)[0]
    s.parentNode.insertBefore(t, s)
  })(
    window,
    document,
    'script',
    'https://connect.facebook.net/en_US/fbevents.js'
  )
  fbq('init', '672660537070105')
  fbq('track', 'CompleteRegistration')
</script>
<noscript>
  <img
    height="1"
    width="1"
    src="https://www.facebook.com/tr?id=672660537070105&ev=CompleteRegistration&noscript=1"
  />
</noscript>
{% endblock pixel %}

{% block title %}
RematesCR - Registro
{% endblock title %}

{% block content %}
<section class="registro section">
  <div class="registro__container container">
    <div class="registro__forms">
      <form action="{{ url_for('registro') }}" id="registroForm" method="POST" class="registro__form">
        <h1 class="registro__form-title">
          Registro
        </h1>
        <p class="registro__form-text">
          Información de datos para el registro
        </p>
        <div class="registro__form-inputscont grid">
          <div class="registro__form-inputs" id="firstnameCont">
            <p id="firstnameLabel"></p>
            <label>Nombre</label>
            <input
              class="registro__form-input"
              autocomplete="off"
              name="firstname"
              type="text"
              id="firstname"
            />
          </div>
          <div class="registro__form-inputs" id="lastnameCont">
            <p id="lastnameLabel"></p>
            <label>Apellido</label>
            <input
              class="registro__form-input"
              autocomplete="off"
              name="lastname"
              type="text"
              id="lastname"
            />
          </div>
        </div>
        <div class="registro__form-inputscont grid">
          <div class="registro__form-inputs" id="emailCont">
            <p id="emailLabel"></p>
            <label>Dirección E-Mail</label>
            <input
              class="registro__form-input"
              autocomplete="off"
              name="email_adress"
              type="text"
              id="email"
            />
          </div>
          <div class="registro__form-inputs" id="phoneCont">
            <p id="phoneLabel"></p>
            <label>Teléfono</label>
            <input
              class="registro__form-input"
              autocomplete="off"
              name="phonenumber"
              type="text"
              id="phone"
            />
          </div>
        </div>
        <h2 class="registro__form-subtitle">
          Tipo de Curso
        </h2>
        <div class="registro__form-radioscont grid">
          <div class="registro__form-radios">
            <input
              type="radio"
              name="course_type"
              value="vivo"
              id="vivo"
              class="registro__form-radio"
              checked
            />
            <label for="vivo">Curso en vivo: ₡95,000/$164</label>
          </div>
          <div class="registro__form-radios">
            <input
              type="radio"
              name="course_type"
              value="pregrabado"
              id="pregrabado"
              class="registro__form-radio"
            />
            <label for="pregrabado">Curso pregrabado: ₡75,000/$129</label>
          </div>
        </div>
        <div class="registro__form-btns">
          <button class="registro__form-btn" type="submit">
            Registrar
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}

