{% extends "base.html" %}

{% block title %}
    RematesCR - {{ session.username }}
{% endblock title %}

{% block content %}
    <section class="perfil section">
        <div class="perfil__container container grid">
            <div class="perfil__cardcont">
                <div class="perfil__content">
                    <div class="perfil__content-profile">
                        <img
                            src="http://www.gravatar.com/avatar/{{ current_user.gravatar }}?d=identicon"
                            alt="Perfil de usuario {{ current_user.username }}"
                        />
                        <h1>{{ current_user.username }}</h1>
                    </div>
                    <div class="perfil__content-data grid">
                        <p class="perfil__content-data_title">
                            Información personal
                        </p>
                        <p class="perfil__content-data_info">
                            Nombre: {{ current_user.firstname }}
                        </p>
                        <p class="perfil__content-data_info">
                            Apellido: {{ current_user.lastname }}
                        </p>
                        <p class="perfil__content-data_info">
                            Correo: {{ current_user.email_adress }}
                        </p>
                        <p class="perfil__content-data_info">
                            Telefono: {{ current_user.phonenumber }}
                        </p>
                    </div>
                    <div class="perfil__content-editar">
                        <a href="{{ url_for('editar_perfil', username=session.username) }}" class="perfil__content-btn">
                            Editar Perfil
                        </a>
                    </div>
                    <div class="perfil__content-cerrar">
                        <a href="{{ url_for('cerrar_sesion') }}" class="perfil__content-cerrar_btn">
                            Cerrar sesión
                        </a>
                    </div>
                </div>
            </div>
            {% if current_user.payment_completed == "Sin Adquirir" %}
                <div class="perfil__payment">
                    <div class="perfil__payment-container">
                        <div class="perfil__payment-card grid">
                            <div class="perfil__payment-card_img">
                                <img src="https://res.cloudinary.com/dajvxg9wj/image/upload/v1651796944/rematescostarica/perfil_compra_dehsaq.png" alt="Compra de articulos por internet">
                            </div>
                            <div class="perfil__payment-card_data grid">
                                <div class="perfil__payment-card_info">
                                    <h3>Adquiere nuestro curso!</h3>
                                    <p>
                                        Luego de realizar el pago mediante PayPal tendras acceso
                                        a los videos y demas funciones especiales de ahora y otras
                                        que se iran desarrollando proximamente!
                                    </p>
                                </div>
                                <div class="perfil__payment-card_btns">
                                    <a href="{{ url_for('comprar_curso') }}" class="perfil__payment-card_btn">
                                        Comprar curso ahora
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="perfil__videos">
                    <div class="perfil__videos-title">
                        <h2>Mira los videos del curso!</h2>
                    </div>
                    <div class="perfil__videos-container">
                        {% for video in videos %}
                            <div class="perfil__videos-card">
                                <div class="perfil__videos-card_video">
                                    <video>
                                        <source src="{{ video.url_video }}" type="video/mp4">
                                    </video>
                                </div>
                                <div class="perfil__videos-card_data">
                                    <p>{{ video.title }}</p>
                                    <a href="{{ url_for('videos', video_id=video.id) }}" class="perfil__videos-card_btn">
                                        <i class="ri-play-circle-line perfil__videos-card_icon"></i>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock content %}
