{% extends "base.html" %}

{% block pixel %}
<script>
  !(function (f, b, e, v, n, t, s) {
    if (f.fbq) return
    n = f.fbq = function () {
      n.callMethod
        ? n.callMethod.apply(n, arguments)
        : n.queue.push(arguments)
    }
    if (!f._fbq) f._fbq = n
    n.push = n
    n.loaded = !0
    n.version = '2.0'
    n.queue = []
    t = b.createElement(e)
    t.async = !0
    t.src = v
    s = b.getElementsByTagName(e)[0]
    s.parentNode.insertBefore(t, s)
  })(
    window,
    document,
    'script',
    'https://connect.facebook.net/en_US/fbevents.js'
  )
  fbq('init', '672660537070105')
  fbq('track', 'ViewContent')
</script>
<noscript>
  <img
    height="1"
    width="1"
    src="https://www.facebook.com/tr?id=672660537070105&ev=ViewContent&noscript=1"
  />
</noscript>
{% endblock pixel %}

{% block title %}
 RematesCR - ¿Quienes somos?
{% endblock title %}

{% block content %}
    <section class="about section">
        <h1 class="about__title">¿QUIÉNES SOMOS?</h1>
        <div class="about__container container grid">
            {% if session.username == "SuperAdminUser" %}
                <div class="about__comment">
                    <div class="about__comment-forms">
                        <form action="{{ url_for('agregar_contenido') }}" class="about__comment-form" method="POST">
                            <div class="about__comment-inputs">
                                <textarea
                                        name="information_content"
                                        class="about__comment-textarea"
                                        maxlength="1499"
                                        rows="4"
                                        placeholder="Contenido Informatico..."
                                        autocomplete="off"
                                        required
                                ></textarea>
                            </div>
                            <input
                                type="hidden"
                                name="from_page"
                                value="quienes_somos"
                            />
                            <input
                                type="hidden"
                                name="from_section"
                                value="1"
                            />
                            <div class="about__comment-btns">
                                <button class="about__comment-btn" type="submit">
                                    Agregar contenido
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="about__data">
                    <div class="about__data-container">
                        <div class="about__data-decoration">
                            <div class="about__data-line"></div>
                            <div class="about__data-line"></div>
                            <div class="about__data-line"></div>
                        </div>
                        <div class="about__data-desc">
                            <h2 class="about__data-title">
                                REMATES JUDICIALES DE COSTA RICA
                            </h2>
                            {% for cpao in content_page_about_one %}
                                {% if session.is_edit == "true" %}
                                    {% if session.is_edit_id == cpao.id %}
                                        <div>
                                            <form
                                                action="{{ url_for('editar_contenido', content_page_id=cpao.id) }}"
                                                class="about__data-form"
                                                method="POST"
                                            >
                                                <div class="about__data-inputs">
                                                    <textarea
                                                            name="information_content"
                                                            class="about__data-textarea"
                                                            maxlength="1499"
                                                            rows="4"
                                                            placeholder="Contenido Informatico..."
                                                            autocomplete="off"
                                                            required
                                                    >{{ cpao.information_content }}</textarea>
                                                </div>
                                                <div class="about__data-btns">
                                                    <a
                                                        href="{{ url_for('cancelar_contenido', content_page_id=cpao.id) }}"
                                                        class="about__data-cancel"
                                                    >
                                                        Cancelar
                                                        <i class="ri-close-line"></i>
                                                    </a>
                                                    <button
                                                        type="submit"
                                                        class="about__data-save"
                                                    >
                                                        Guardar
                                                        <i class="ri-check-line"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    {% else %}
                                        <div>
                                            <p class="about__data-info">
                                                {{ cpao.information_content }}
                                            </p>
                                            <div class="about__data-links">
                                                <a 
                                                    href="{{ url_for('eliminar_contenido', content_page_id=cpao.id) }}"
                                                    class="about__data-delete"
                                                >
                                                    Eliminar
                                                    <i class="ri-delete-bin-5-line"></i>
                                                </a>
                                                <a
                                                    href="{{ url_for('editar_contenido', content_page_id=cpao.id) }}"
                                                    class="about__data-edit"
                                                >
                                                    Editar
                                                    <i class="ri-edit-line"></i>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div>
                                        <p class="about__data-info">
                                            {{ cpao.information_content }}
                                        </p>
                                        <div class="about__data-links">
                                            <a 
                                                href="{{ url_for('eliminar_contenido', content_page_id=cpao.id) }}"
                                                class="about__data-delete"
                                            >
                                                Eliminar
                                                <i class="ri-delete-bin-5-line"></i>
                                            </a>
                                            <a
                                                href="{{ url_for('editar_contenido', content_page_id=cpao.id) }}"
                                                class="about__data-edit"
                                            >
                                                Editar
                                                <i class="ri-edit-line"></i>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="about__cards grid">
                    <div class="about__cards-card">
                        <div class="about__cards-header">
                            <h3 class="about__cards-title">NUESTRA EMPRESA</h3>
                            <i class="ri-building-line"></i>
                        </div>
                        <div class="about__cards-data">
                            Si bien es cierto nuestra empresa realmente formada inicia en el 2012, en el 2002 comenzó por una mala experiencia como fiador,
                            donde la persona que le serví de fiadora nunca fué a pagar y me quisieron rematar a mi por ser fiador solidario. Muy duro muy decepcionante pero
                            me hizo preguntarme "por que voy a perder mi propiedad por un monto tan pequeño", la curiosidad por conocer el sistema me empujó a comprar ese mismo año mi primera
                            propiedad y ahí inició esta historia.
                        </div>
                    </div>
                    <div class="about__cards-card">
                        <div class="about__cards-header">
                            <h3 class="">CONTAMOS CON VARIOS NEGOCIOS</h3>
                            <i class="ri-briefcase-line"></i>
                        </div>
                        <div class="about__cards-container">
                            <div>
                                <i class="ri-checkbox-blank-circle-fill"></i>
                                <p class="about__cards-desc">Comprar, arreglar y alquilar fincas para nosotros.</p>
                            </div>
                            <div>
                                <i class="ri-checkbox-blank-circle-fill"></i>
                                <p class="about__cards-desc">Compra de propiedes para terceros.</p>
                            </div>
                            <div>
                                <i class="ri-checkbox-blank-circle-fill"></i>
                                <p class="about__cards-desc">Curso para aprender a comprar propiedades en Costa Rica.</p>
                            </div>
                            <div>
                                <i class="ri-checkbox-blank-circle-fill"></i>
                                <p class="about__cards-desc">Curso de introducción para la compra de Remates Judiciales.</p>
                            </div>
                            <div>
                                <i class="ri-checkbox-blank-circle-fill"></i>
                                <p class="about__cards-desc">El servicio Compremos Juntos tu propiedad. </p>
                            </div>
                            <div>
                                <i class="ri-checkbox-blank-circle-fill"></i>
                                <p class="about__cards-desc">La asesor de entidades financieras para dejarse la menor cantidad de propiedades en los Remates Judiciales.</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="about__data">
                    <div class="about__data-container">
                        <div class="about__data-decoration">
                            <div class="about__data-line"></div>
                            <div class="about__data-line"></div>
                            <div class="about__data-line"></div>
                        </div>
                        <div class="about__data-desc">
                            <h2 class="about__data-title">
                                REMATES JUDICIALES DE COSTA RICA
                            </h2>
                            {% for cpao in content_page_about_one %}
                                <div>
                                    <p class="about__data-info">
                                        {{ cpao.information_content }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="about__cards grid">
                    <div class="about__cards-card">
                        <div class="about__cards-header">
                            <h3 class="about__cards-title">NUESTRA EMPRESA</h3>
                            <i class="ri-building-line"></i>
                        </div>
                        <div class="about__cards-data">
                            Si bien es cierto nuestra empresa realmente formada inicia en el 2012, en el 2002 comenzó por una mala experiencia como fiador,
                            donde la persona que le serví de fiadora nunca fué a pagar y me quisieron rematar a mi por ser fiador solidario. Muy duro muy decepcionante pero
                            me hizo preguntarme "por que voy a perder mi propiedad por un monto tan pequeño", la curiosidad por conocer el sistema me empujó a comprar ese mismo año mi primera
                            propiedad y ahí inició esta historia.
                        </div>
                    </div>
                    <div class="about__cards-card">
                        <div class="about__cards-header">
                            <h3 class="">CONTAMOS CON VARIOS NEGOCIOS</h3>
                            <i class="ri-briefcase-line"></i>
                        </div>
                        <div class="about__cards-container">
                            <div>
                                <i class="ri-checkbox-blank-circle-fill"></i>
                                <p class="about__cards-desc">Comprar, arreglar y alquilar fincas para nosotros.</p>
                            </div>
                            <div>
                                <i class="ri-checkbox-blank-circle-fill"></i>
                                <p class="about__cards-desc">Compra de propiedes para terceros.</p>
                            </div>
                            <div>
                                <i class="ri-checkbox-blank-circle-fill"></i>
                                <p class="about__cards-desc">Curso para aprender a comprar propiedades en Costa Rica.</p>
                            </div>
                            <div>
                                <i class="ri-checkbox-blank-circle-fill"></i>
                                <p class="about__cards-desc">Curso de introducción para la compra de Remates Judiciales.</p>
                            </div>
                            <div>
                                <i class="ri-checkbox-blank-circle-fill"></i>
                                <p class="about__cards-desc">El servicio Compremos Juntos tu propiedad. </p>
                            </div>
                            <div>
                                <i class="ri-checkbox-blank-circle-fill"></i>
                                <p class="about__cards-desc">La asesor de entidades financieras para dejarse la menor cantidad de propiedades en los Remates Judiciales.</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock content %}
