.logo {
  font-size: 1.2rem;
}

#cuentaRegresiva {
  font-weight: 700;
  font-size: 1.2rem;
}

.randall-nav {
  column-gap: 3rem;
}

.randall-img {
  border-radius: 2rem;
  opacity: .8;
  display: block;
}

.randall-margin-top {
  margin-top: 3rem;
}

.randall-padding-bottom {
  padding-bottom: 5rem;
}
