@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #395B64;
  margin: 5rem 0 0 0;
  font-size: 1.25rem;
  color: #1B262C;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

svg {
  width: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 768px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.section {
  padding: 4.5rem 0 2.5rem;
}
.section__title {
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 2.5rem;
  color: #395B64;
}

.main {
  overflow: hidden;
  position: relative;
}

.header {
  background-color: #395B64;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}
.nav__logo {
  font-size: 1.45rem;
  font-weight: 700;
  color: #FFF;
  cursor: pointer;
}
.nav__logo.scrolling-nav-logo {
  color: #395B64;
}
@media screen and (max-width: 849px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    transition: all 0.3s ease-in-out;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    padding: 6rem 2rem 0 3rem;
    box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0.2);
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.nav__link {
  color: #1B262C;
  font-size: 1.25rem;
  font-weight: 500;
}
.nav__link.scrolling-nav-link {
  color: #395B64;
}
.nav__last {
  margin-top: 4rem;
}
.nav__btn {
  background-color: #1B262C;
  padding: 0.75rem 1.25rem;
  border-radius: 1rem;
  color: #FFF;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.nav__btn.scrolling-nav-btn {
  color: #FFF;
  background-color: #395B64;
}
.nav__toggle {
  cursor: pointer;
  height: 1.7rem;
}
.nav__toggle svg {
  width: 1.7rem;
  fill: #1B262C;
}
.nav__close {
  cursor: pointer;
  height: 1.7rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.nav__close svg {
  width: 1.7rem;
  fill: #1B262C;
}

.scrolling-header {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.2);
}

.show-menu {
  right: 0;
}

.notification {
  display: flex;
  width: 330px;
  flex-direction: column;
  row-gap: 1rem;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.notification__error {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F05D5E;
  color: #FFF;
  padding: 0.75rem 1rem;
}
.notification__success {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #058C42;
  color: #FFF;
  padding: 0.75rem 1rem;
}
.notification__close {
  display: inherit;
  cursor: pointer;
}
.notification__close svg {
  width: 1.7rem;
  height: 1.7rem;
  fill: #FFF;
}

.hero {
  position: relative;
  min-height: calc(100vh - 5rem);
}
.hero::before {
  content: "";
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-image: url(../../../static/img/bg-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom -1px left -20rem;
}
.hero__content-title {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 900;
  color: #FFF;
}
.hero__content-title_red {
  color: #F05454;
  text-transform: uppercase;
}
.hero__content-title_red:first-child {
  text-transform: capitalize;
}
.hero__content-desc {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 3.5rem;
  font-weight: 400;
  line-height: 1.7;
}
.hero__content-btn {
  background-color: #F05454;
  color: #FFF;
  padding: 0.75rem 1.25rem;
  font-weight: 500;
  border-radius: 1rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.hero__image {
  display: none;
}
.hero__image-img {
  border-radius: 1rem;
}

.about {
  background-color: #FFF;
}
.about__content-title {
  text-align: left;
}
.about__content-info {
  display: grid;
  row-gap: 1.5rem;
}
.about__content-info p {
  text-align: left;
  font-weight: 400;
  line-height: 1.7;
}

.cursos {
  position: relative;
}
.cursos::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: #FFF;
  z-index: -10;
}
.cursos__title {
  text-align: left;
  color: #FFF;
}
.cursos__desc {
  text-align: left;
  line-height: 1.7;
  color: #D9D9D9;
  font-weight: 400;
}
.cursos__cards {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  margin-top: 3.5rem;
}
.cursos__cards-card {
  background-color: #D9D9D9;
  border-radius: 1rem;
  user-select: none;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.cursos__cards-card_img {
  display: block;
  object-fit: cover;
  height: 12rem;
  width: 100%;
  border-radius: 1rem;
}
.cursos__cards-card_type {
  background-color: #1478FC;
  color: #FFF;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  font-weight: 500;
  padding: 0.75rem 0;
  width: 12rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  top: 10rem;
  transform: translateX(-50%);
}
.cursos__cards-card_body {
  text-align: center;
  line-height: 1.7;
  padding: 3rem 1.2rem 1.5rem 1.2rem;
}
.cursos__cards-card_link {
  padding: 0.5rem 1.2rem 3rem 1.2rem;
  text-align: center;
}
.cursos__cards-card_link a {
  color: #F05454;
  font-weight: 300;
  text-decoration: underline;
}

.testimonios {
  background-color: #D9D9D9;
}
.testimonios__title {
  text-align: left;
}
.testimonios__desc {
  text-align: left;
  line-height: 1.7;
}
.testimonios__cards {
  display: grid;
  row-gap: 4.5rem;
  margin-top: 5.5rem;
}
.testimonios__cards-card {
  background-color: #FFF;
  border-radius: 1rem;
  padding: 3.5rem 2rem 2rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.testimonios__cards-card svg {
  height: 8rem;
  width: 8rem;
  fill: #F05454;
  position: absolute;
  top: -4rem;
  left: 1rem;
}
.testimonios__cards-card_testimonio {
  font-weight: 300;
  line-height: 1.7;
  font-size: 1.15rem;
  font-style: italic;
  margin-bottom: 1.5rem;
}
.testimonios__cards-card_perfil {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.testimonios__cards-card_perfil_img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}
.testimonios__cards-card_perfil_name {
  font-weight: 500;
}

.precios__title {
  color: #FFF;
  text-align: left;
}
.precios__desc {
  text-align: left;
  color: #D9D9D9;
  line-height: 1.7;
}
.precios__cards {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.5rem;
}
.precios__cards-card {
  background-color: #FFF;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 4rem 2rem 2rem;
  position: relative;
}
.precios__cards-card_type {
  position: absolute;
  top: -1rem;
  left: 1rem;
  background-color: #F05454;
  font-weight: 500;
  color: #FFF;
  border-radius: 1rem;
  padding: 0.75rem 1.25rem;
}
.precios__cards-card_money {
  color: #395B64;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
}
.precios__cards-card_money svg {
  fill: #395B64;
  width: 2.5rem;
}
.precios__cards-card_body {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.precios__cards-card_body ul li, .precios__cards-card_body ol li {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #395B64;
  font-size: 1.1rem;
  line-height: 1.7;
  text-align: center;
}
.precios__cards-card_body ul li:first-child, .precios__cards-card_body ol li:first-child {
  border-top: 1px solid #395B64;
  padding-top: 1rem;
}
.precios__cards-card_body ul li:last-child, .precios__cards-card_body ol li:last-child {
  font-weight: 600;
}
.precios__cards-card_btn_comprar {
  background-color: #1478FC;
  color: #FFF;
  border-radius: 1rem;
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.75rem;
  font-weight: 500;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.precios__cards-card_btn_comprar svg {
  fill: #FFF;
}

.faq {
  background-color: #FFF;
}
.faq__title {
  text-align: left;
  margin-bottom: 4.5rem;
}
.faq__content-faq {
  border-bottom: 1px solid #395B64;
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
}
.faq__content-faq[open] .faq__content-faq_question {
  font-weight: 700;
}
.faq__content-faq[open] .faq__content-faq_question::after {
  transform: rotate(180deg);
}
.faq__content-faq:first-child {
  border-top: 1px solid #395B64;
  padding-top: 1.2rem;
}
.faq__content-faq_question {
  cursor: pointer;
  margin-bottom: 1.5rem;
  outline: none;
  font-size: 1.15rem;
  line-height: 1.7;
  list-style: none;
  padding-right: 1.5rem;
  position: relative;
}
.faq__content-faq_question::after {
  content: "";
  background-image: url(../../../static/img/angle-down.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.faq__content-faq_answer {
  line-height: 1.7;
  font-size: 1.15rem;
  font-weight: 300;
  text-align: left;
  padding-right: 1.5rem;
}

.contact {
  background-color: #FFF;
}
.contact__title {
  text-align: left;
}
.contact__title span {
  color: #F05454;
}
.contact__email {
  text-align: left;
  margin-bottom: 2.5rem;
}
.contact__email-link {
  color: #F05454;
  font-weight: 600;
}
.contact__social {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 1rem;
}
.contact__social-link {
  background-color: #395B64;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
.contact__social-link svg {
  fill: #FFF;
  width: 1.75rem;
  height: 1.75rem;
}

.ingresar {
  background-color: #FFF;
}
.ingresar__container {
  display: grid;
}
.ingresar__image {
  background-image: url("../../../static/img/ingresar-image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 15rem;
  background-position: center;
}
.ingresar__content {
  padding: 3rem 1.5rem 2.5rem;
  text-align: center;
}
.ingresar__content-title {
  color: #395B64;
  text-transform: uppercase;
  text-align: center;
}
.ingresar__content-title span {
  color: #F05454;
}
.ingresar__wrapper {
  margin-top: 3.5rem;
  margin-bottom: 2.5rem;
}
.ingresar__form {
  display: grid;
  width: 100%;
  row-gap: 2rem;
}
.ingresar__form-container {
  position: relative;
}
.ingresar__form-input {
  width: 100%;
  border-radius: 1rem;
  border: 2px solid #395B64;
  outline: none;
  font-family: inherit;
  font-size: 1.15rem;
  font-weight: 500;
  color: #1B262C;
  padding: 1.2rem 1.5rem 0.75rem;
}
.ingresar__form-label {
  color: #F05454;
  font-size: 1.15rem;
  font-weight: 500;
  position: absolute;
  left: 1.5rem;
  top: -0.8rem;
  background-color: #FFF;
  padding: 0 0.5rem;
}
.ingresar__form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.ingresar__form-wrapper p {
  display: inherit;
  column-gap: 0.5rem;
  align-items: center;
}
.ingresar__form-wrapper a {
  font-weight: 500;
  color: #1B262C;
}
.ingresar__form-checkbox {
  cursor: pointer;
  outline: none;
  width: 1.25rem;
  height: 1.25rem;
}
.ingresar__form-checkbox_label {
  cursor: pointer;
}
.ingresar__form-submit {
  width: 100%;
  border-radius: 1rem;
  outline: none;
  border: none;
  letter-spacing: 0.05rem;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 500;
  padding: 0.75rem 0;
  cursor: pointer;
  background-color: #395B64;
  color: #FFF;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.ingresar__link {
  color: #F05454;
  text-decoration: underline;
  font-size: 1rem;
}

.registro {
  background-color: #E6E6E6;
}
.registro__container {
  display: grid;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 1rem;
}
.registro__info {
  background-color: #395B64;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
  margin: 2rem 1.5rem;
  padding: 1.5rem 0;
}
.registro__info-step {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E6E6E6;
  color: #1B262C;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-weight: 600;
}
.registro__info-step.current-step {
  background-color: #1B262C;
  color: #FFF;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.registro__info-text {
  display: none;
}
.registro__wrapper {
  margin: 0 1.5rem 2rem;
  overflow-x: hidden;
}
.registro__form {
  display: flex;
  width: 300%;
}
.registro__form-section {
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.registro__form-title, .registro__form-text {
  text-align: left;
}
.registro__form-title {
  font-size: 1.5rem;
  color: #395B64;
}
.registro__form-text {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.registro__form-data {
  display: grid;
  row-gap: 1.5rem;
}
.registro__form-data_container {
  display: grid;
  row-gap: 1.5rem;
}
.registro__form-data_input {
  border: 1px solid #CCC;
  width: 100%;
  border-radius: 1rem;
  outline: none;
  padding: 0.7rem 1.5rem 0.7rem 1.2rem;
  font-family: inherit;
  background-color: #E6E6E6;
  color: #1B262C;
  font-size: 1.15rem;
  font-weight: 500;
}
.registro__form-prices_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.registro__form-prices_card {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 0.7rem 1rem;
  border: 1px solid #CCC;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.registro__form-prices_card.current-price {
  border: 1px solid #1B262C;
  background-color: #E6E6E6;
}
.registro__form-prices_card:hover {
  border: 1px solid #1B262C;
}
.registro__form-prices_icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #F05454;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registro__form-prices_icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #FFF;
}
.registro__form-prices_info {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}
.registro__form-prices_info h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #395B64;
}
.registro__form-prices_price {
  font-weight: 500;
  font-size: 1.15rem;
  color: #F05454;
}
.registro__form-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3rem;
}
.registro__form-btn_next {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0.7rem 1.2rem;
  font-size: 1.15rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #395B64;
  color: #FFF;
}
.registro__form-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}
.registro__form-btns_prev {
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #FFF;
  font-size: 1.15rem;
  font-weight: 600;
  color: #395B64;
  transition: all 0.3s ease-in-out;
}
.registro__form-btns_prev:hover {
  color: #1B262C;
}
.registro__form-btns_next {
  outline: none;
  border: none;
  padding: 0.7rem 1.2rem;
  font-size: 1.15rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #395B64;
  color: #FFF;
  cursor: pointer;
}
.registro__form-btns_submit {
  outline: none;
  border: none;
  padding: 0.7rem 1.2rem;
  font-size: 1.15rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1478FC;
  color: #FFF;
  cursor: pointer;
}

.footer__title {
  color: #FFF;
  text-align: left;
  text-transform: capitalize;
}
.footer__content-list {
  display: flex;
  flex-direction: row;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
}
.footer__content-link {
  color: #D9D9D9;
  font-weight: 400;
}
.footer__copy {
  color: #D9D9D9;
  text-align: left;
  margin-top: 5.5rem;
}
.footer__copy-company {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}
.footer__copy-author {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}
.footer__copy-author a {
  cursor: pointer;
  color: #FFF;
  text-decoration: underline;
}

@media screen and (max-width: 360px) {
  body {
    font-size: 1.15rem;
  }
  .container {
    margin-right: 1.2rem;
    margin-left: 1.2rem;
  }
  .section__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 300px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .section__title {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .section__title {
    font-size: 2.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
  .section {
    padding: 6.5rem 0 4.5rem;
  }
  .section__title {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 300px) {
  .nav__link {
    font-size: 1.15rem;
  }
}
@media screen and (min-width: 568px) {
  .nav__list {
    row-gap: 2rem;
  }
  .nav__hover {
    position: relative;
  }
  .nav__hover::after {
    content: "";
    background-color: #F05454;
    position: absolute;
    height: 2px;
    width: 100%;
    top: 1.7rem;
    left: 0;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  .nav__hover:hover::after {
    transform: scaleX(1);
  }
}
@media screen and (min-width: 768px) {
  .nav__logo {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 850px) {
  .nav__list {
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
  }
  .nav__link {
    color: #FFF;
  }
  .nav__last {
    margin-top: 0;
  }
  .nav__btn {
    color: #395B64;
    background-color: #FFF;
  }
  .nav__toggle, .nav__close {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .nav__list {
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list {
    column-gap: 2rem;
  }
}
@media screen and (max-width: 330px) {
  .notification {
    width: 300px;
  }
}
@media screen and (max-width: 300px) {
  .notification {
    width: 270px;
  }
}
@media screen and (min-width: 568px) {
  .notification {
    width: 540px;
  }
  .notification__error, .notification__success {
    font-weight: 500;
    padding: 0.85rem 1.25rem;
  }
  .notification__close svg {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .notification {
    width: 700px;
  }
}
@media screen and (max-width: 300px) {
  .hero__content-title {
    font-size: 2rem;
  }
  .contact__email-link {
    font-size: 1rem;
  }
  .contact__social-link {
    width: 3rem;
    height: 3rem;
  }
  .contact__social-link svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media screen and (min-width: 568px) {
  .hero__content-title {
    max-width: 27rem;
  }
  .hero__content-desc {
    max-width: 22rem;
  }
  .contact__email-link {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .hero::before {
    background-position: bottom -1px left 0;
  }
  .hero__content-desc {
    margin-bottom: 5.5rem;
  }
  .about__content-info p {
    max-width: 38rem;
  }
  .cursos__desc {
    max-width: 35rem;
  }
  .cursos__cards {
    flex-direction: row;
    column-gap: 2.5rem;
    justify-content: center;
  }
  .cursos__cards-card {
    max-width: 20rem;
    transition: all 0.3s ease-in-out;
  }
  .cursos__cards-card:hover {
    transform: translateY(-20px);
  }
  .cursos__cards-card_link a {
    transition: all 0.3s ease-in-out;
  }
  .cursos__cards-card_link a:hover {
    font-weight: 700;
  }
  .testimonios__desc {
    max-width: 35rem;
  }
  .precios__desc {
    max-width: 35rem;
  }
  .precios__cards {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 2.5rem;
  }
  .precios__cards-card_money {
    font-size: 3rem;
  }
  .precios__cards-card_money svg {
    width: 3rem;
  }
  .precios__cards-card_btn_comprar {
    transition: all 0.3s ease-in-out;
  }
  .precios__cards-card_btn_comprar:hover {
    background-color: #0059CC;
  }
  .faq__content-faq_question {
    padding-right: 5rem;
    font-size: 1.35rem;
  }
  .faq__content-faq_question:hover {
    color: #F05454;
  }
  .faq__content-faq_answer {
    padding-right: 3rem;
  }
  .contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__title {
    text-align: center;
  }
  .contact__email-link {
    font-size: 1.75rem;
  }
  .contact__social {
    column-gap: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero__container {
    position: relative;
  }
  .hero__content {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  .hero__content-title {
    font-size: 3rem;
  }
  .hero__content-desc {
    margin-bottom: 4.5rem;
  }
  .hero__image {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: block;
  }
  .hero__image-img {
    max-width: 22rem;
  }
  .about__content-info p {
    max-width: 58rem;
  }
  .cursos__desc {
    max-width: 48rem;
  }
  .cursos__cards {
    margin-top: 6.5rem;
  }
  .cursos__cards-card {
    max-width: 27rem;
  }
  .testimonios {
    position: relative;
  }
  .testimonios::before {
    content: "";
    background-image: url(../../../../static/img/bg-testimonio.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom 6.3rem left 0;
    width: 100%;
    height: 100%;
  }
  .testimonios__desc {
    max-width: 48rem;
  }
  .testimonios__cards {
    margin-top: 10.5rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.5rem;
  }
  .testimonios__cards-card:first-child {
    transform: translateY(-4rem);
  }
  .testimonios__cards-card:nth-child(2) {
    transform: translateY(8rem);
  }
  .testimonios__cards-card:last-child {
    transform: translateY(-4rem);
  }
  .precios {
    position: relative;
  }
  .precios::before {
    content: "";
    background-image: url(../../../../static/img/bg-precio.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom 6.3rem left 0;
    width: 100%;
    height: 100%;
  }
  .precios__desc {
    max-width: 48rem;
  }
  .precios__cards {
    margin-top: 6.5rem;
    justify-content: center;
  }
  .precios__cards-card {
    max-width: 27rem;
  }
  .faq__title {
    margin-bottom: 6.5rem;
  }
  .faq__content-faq_question {
    font-size: 1.5rem;
  }
  .faq__content-faq_answer {
    padding-right: 6rem;
  }
  .contact__title {
    margin-bottom: 4.5rem;
  }
  .contact__email {
    margin-bottom: 3.5rem;
  }
  .contact__email-link {
    font-size: 2.75rem;
  }
  .contact__social {
    column-gap: 3rem;
  }
  .contact__social-link {
    width: 4rem;
    height: 4rem;
  }
  .contact__social-link svg {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__content {
    top: 3rem;
    left: 3rem;
  }
  .hero__content-title {
    font-size: 3.5rem;
    max-width: 37rem;
  }
  .hero__image {
    top: 3rem;
    right: 4rem;
  }
  .testimonios__cards {
    row-gap: 6.5rem;
  }
  .precios__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .precios__title, .precios__desc {
    text-align: center;
  }
}
@media screen and (min-height: 730px) {
  .hero__content {
    top: 5rem;
  }
  .hero__image {
    top: 5rem;
  }
  .hero__image-img {
    max-width: 25rem;
  }
}
@media screen and (min-width: 568px) {
  .ingresar__wrapper {
    display: flex;
    justify-content: center;
  }
  .ingresar__form {
    max-width: 550px;
  }
}
@media screen and (min-width: 768px) {
  .ingresar__content-title {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
  }
  .ingresar__form-wrapper a {
    transition: all 0.3s ease-in-out;
  }
  .ingresar__form-wrapper a:hover {
    color: #395B64;
  }
  .ingresar__form-submit {
    transition: all 0.3s ease-in-out;
  }
  .ingresar__form-submit:hover {
    background-color: #1B262C;
  }
  .ingresar__link {
    font-size: 1.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .ingresar__container {
    grid-template-columns: 1fr 1fr;
  }
  .ingresar__image {
    height: 100%;
  }
  .ingresar__wrapper {
    margin-top: 2.5rem;
  }
  .ingresar__content {
    max-width: 600px;
  }
  .ingresar__content-title {
    font-size: 2.5rem;
  }
  .ingresar__form {
    max-width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .ingresar__content {
    padding: 3rem 0 2.5rem 2.5rem;
  }
  .ingresar__form-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 568px) {
  .registro__form-data_container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .registro__form-prices_wrapper {
    flex-direction: row;
    column-gap: 1.5rem;
  }
  .registro__form-prices_card {
    padding: 1.3rem;
    flex-direction: column;
    height: 10rem;
    width: 12rem;
    align-items: flex-start;
    justify-content: space-between;
  }
  .registro__form-btn_next, .registro__form-btns_next {
    transition: all 0.3s ease-in-out;
  }
  .registro__form-btn_next:hover, .registro__form-btns_next:hover {
    background-color: #1B262C;
  }
}
@media screen and (min-width: 1024px) {
  .registro__container {
    grid-template-columns: 1fr 2fr;
  }
  .registro__info {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem 2rem;
    row-gap: 1.5rem;
  }
  .registro__info-wrapper {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  .registro__info-text {
    display: block;
    font-size: 1.2rem;
    color: #FFF;
  }
  .registro__wrapper {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__content-link {
    transition: all 0.3s ease-in-out;
  }
  .footer__content-link:hover {
    color: #FFF;
  }
}
@media screen and (min-width: 1024px) {
  .footer__copy {
    margin-top: 8.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
