@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  background-color: #E6E6E6;
  color: #1B262C;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input[type=submit] {
  cursor: pointer;
}

svg {
  width: 1.5rem;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 4.5rem 0 2.5rem;
}
.section__title {
  font-size: 1.45rem;
  margin-bottom: 2.5rem;
  text-align: left;
}

.main {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

::-webkit-file-upload-button {
  background-color: #0059CC;
  color: #FFF;
  font-family: inherit;
  font-size: 1.15rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  cursor: pointer;
  padding: 0.7rem 1.2rem;
  margin-right: 1.2rem;
  font-weight: 500;
  border: none;
}

.nav {
  background-color: #FFF;
  width: 310px;
  height: 100vh;
  z-index: 200;
  position: fixed;
  top: 0;
  left: -100%;
  border-radius: 2rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}
.nav__logo {
  padding: 3rem 1.5rem 2rem;
  border-bottom: 1px solid #CCC;
  position: relative;
}
.nav__logo-link {
  color: #395B64;
  font-weight: 700;
  font-size: 1.5rem;
}
.nav__close {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
.nav__close svg {
  width: 1.75rem;
  height: 1.75rem;
  fill: #1B262C;
}
.nav__menu {
  padding: 2rem 1.5rem;
}
.nav__list {
  display: flex;
  row-gap: 0.5rem;
  flex-direction: column;
}
.nav__link {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  border-radius: 1rem;
  padding: 0.7rem;
}
.nav__link.current-page {
  background-color: #E6E6E6;
  border-radius: 1rem;
  padding: 0.7rem;
}
.nav__link.current-page .nav__link-icon {
  background-color: #395B64;
  border-radius: 1rem;
  padding: 0.5rem;
}
.nav__link.current-page .nav__link-icon svg {
  fill: #FFF;
}
.nav__link-icon {
  padding: 0.5rem;
}
.nav__link-icon svg {
  width: 1.75rem;
  height: 1.75rem;
  fill: #395B64;
}
.nav__text {
  font-weight: 600;
  color: #395B64;
  font-size: 1.25rem;
}

.show-nav {
  left: 0;
}

.header {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: sticky;
  top: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 4rem;
  border-radius: 1rem;
  padding: 0 1rem;
  background-color: #FFF;
  margin-bottom: 2rem;
  z-index: 100;
}
.header__title h1 {
  font-size: 1.2rem;
  color: #395B64;
}
.header__tools {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}
.header__profile-link {
  display: flex;
  align-items: center;
}
.header__profile-link p {
  display: none;
}
.header__profile-link img {
  width: 2rem;
  border-radius: 50%;
  display: block;
}
.header__toggle svg {
  width: 1.75rem;
  height: 1.75rem;
  fill: #1B262C;
}

.notification {
  display: flex;
  width: 330px;
  flex-direction: column;
  row-gap: 1rem;
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
}
.notification__error {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F05D5E;
  color: #FFF;
  padding: 0.75rem 1rem;
}
.notification__success {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #058C42;
  color: #FFF;
  padding: 0.75rem 1rem;
}
.notification__close {
  display: inherit;
  cursor: pointer;
}
.notification__close svg {
  width: 1.7rem;
  height: 1.7rem;
  fill: #FFF;
}

.admin__index-data {
  display: grid;
  row-gap: 1.5rem;
}
.admin__index-data_card {
  user-select: none;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 1rem;
  display: flex;
  column-gap: 1rem;
  padding: 1.25rem 1.5rem;
  flex-direction: column;
  row-gap: 1rem;
}
.admin__index-data_card_title h3 {
  font-weight: 500;
  font-size: 1.25rem;
  color: #395B64;
}
.admin__index-data_card_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin__index-data_card_info svg {
  fill: #395B64;
  width: 2.25rem;
  height: 2.25rem;
}
.admin__index-data_card_info span {
  font-weight: 700;
  font-size: 1.75rem;
}
.admin__index-charts {
  display: grid;
  row-gap: 1.5rem;
}
.admin__index-charts_card {
  background-color: #FFF;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 1.5rem;
  width: 98%;
  margin: auto;
}
.admin__index-charts_title {
  font-size: 1.25rem;
  color: #395B64;
  margin-bottom: 2rem;
}
.admin__index-charts_container {
  position: relative;
  height: 40vh;
}

.admin__usuarios-desc {
  background-color: #CCC;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: left;
  margin-bottom: 2.5rem;
}
.admin__usuarios-desc span {
  font-weight: 600;
}
.admin__usuarios-data {
  display: grid;
  row-gap: 1.5rem;
}
.admin__usuarios-data_card {
  user-select: none;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 1rem;
  display: flex;
  column-gap: 1rem;
  padding: 1.25rem 1.5rem;
  flex-direction: column;
  row-gap: 1rem;
}
.admin__usuarios-data_card_title h3 {
  font-weight: 500;
  font-size: 1.25rem;
  color: #395B64;
}
.admin__usuarios-data_card_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin__usuarios-data_card_info svg {
  fill: #395B64;
  width: 2.25rem;
  height: 2.25rem;
}
.admin__usuarios-data_card_info span {
  font-weight: 700;
  font-size: 1.75rem;
}
.admin__usuarios-tabla_status {
  font-weight: 500;
}
.admin__usuarios-tabla_status:hover {
  text-decoration: underline;
}
.admin__usuarios-tabla_status.true {
  color: #058C42;
}
.admin__usuarios-tabla_status.false {
  color: #F05D5E;
}
.admin__usuarios-adduser_form {
  background-color: #FFF;
  width: 100%;
  display: grid;
  row-gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.admin__usuarios-adduser_form_container {
  display: grid;
  row-gap: 1.5rem;
}
.admin__usuarios-adduser_form_messages {
  display: grid;
  row-gap: 0.5rem;
}
.admin__usuarios-adduser_form_messages_error {
  color: #F05D5E;
  font-size: 1.15rem;
  text-align: center;
  font-weight: 500;
}
.admin__usuarios-adduser_form_input {
  border: 1px solid #CCC;
  width: 100%;
  border-radius: 1rem;
  outline: none;
  padding: 0.7rem 1.5rem 0.7rem 1.2rem;
  font-family: inherit;
  background-color: #E6E6E6;
  color: #1B262C;
  font-size: 1.15rem;
  font-weight: 500;
}
.admin__usuarios-adduser_form_submit {
  font-size: 1.2rem;
  padding: 0.75rem 0;
  border: none;
  outline: none;
  background-color: #395B64;
  border-radius: 1rem;
  font-weight: 500;
  color: #FFF;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.admin__pagos-desc {
  background-color: #CCC;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: left;
  margin-bottom: 2.5rem;
}
.admin__pagos-desc span {
  font-weight: 600;
}
.admin__pagos-data {
  display: grid;
  row-gap: 1.5rem;
}
.admin__pagos-data_card {
  user-select: none;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 1rem;
  display: flex;
  column-gap: 1rem;
  padding: 1.25rem 1.5rem;
  flex-direction: column;
  row-gap: 1rem;
}
.admin__pagos-data_card_title h3 {
  font-weight: 500;
  font-size: 1.25rem;
  color: #395B64;
}
.admin__pagos-data_card_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin__pagos-data_card_info svg {
  fill: #395B64;
  width: 2.25rem;
  height: 2.25rem;
}
.admin__pagos-data_card_info span {
  font-weight: 700;
  font-size: 1.75rem;
}
.admin__pagos-change_form {
  display: grid;
  row-gap: 1.5rem;
  width: 100%;
}
.admin__pagos-change_form_input {
  border: 1px solid #CCC;
  width: 100%;
  border-radius: 1rem;
  outline: none;
  padding: 0.7rem 1.5rem 0.7rem 1.2rem;
  font-family: inherit;
  background-color: #FFF;
  color: #1B262C;
  font-size: 1.15rem;
  font-weight: 500;
  font-size: 1.25rem;
}
.admin__pagos-change_form_submit {
  border: none;
  outline: none;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  font-family: inherit;
  background-color: #395B64;
  border-radius: 1rem;
  font-weight: 500;
  color: #FFF;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.admin__cursos-actions {
  margin-bottom: 2.5rem;
}
.admin__cursos-actions_create {
  padding: 0.75rem 2rem;
  background-color: #395B64;
  border-radius: 1rem;
  font-weight: 500;
  color: #FFF;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.admin__cursos-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin__cursos-image_img {
  max-width: 20rem;
}
.admin__cursos-image_text {
  text-align: center;
}
.admin__cursos-wrapper {
  display: grid;
  row-gap: 2.5rem;
}
.admin__cursos-card {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #FFF;
  overflow: hidden;
}
.admin__cursos-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  display: block;
}
.admin__cursos-card_content {
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  color: #1B262C;
}
.admin__cursos-card_content ul, .admin__cursos-card_content ol {
  list-style: inside;
}
.admin__cursos-card_content h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.admin__cursos-card_content p {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.admin__addcurso-desc {
  background-color: #CCC;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: left;
  margin-bottom: 2.5rem;
}
.admin__addcurso-desc span {
  font-weight: 600;
}
.admin__addcurso-form {
  background-color: #FFF;
  width: 100%;
  display: grid;
  row-gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.admin__addcurso-form_input {
  border: 1px solid #CCC;
  width: 100%;
  border-radius: 1rem;
  outline: none;
  padding: 0.7rem 1.5rem 0.7rem 1.2rem;
  font-family: inherit;
  background-color: #E6E6E6;
  color: #1B262C;
  font-size: 1.15rem;
  font-weight: 500;
}
.admin__addcurso-form_textarea {
  border: 1px solid #CCC;
  resize: none;
  width: 100%;
  border-radius: 1rem;
  outline: none;
  padding: 0.7rem 1.5rem 0.7rem 1.2rem;
  font-family: inherit;
  background-color: #E6E6E6;
  color: #1B262C;
  font-size: 1.15rem;
  font-weight: 500;
}
.admin__addcurso-form_file {
  border: 1px solid #CCC;
  width: 100%;
  background-color: #E6E6E6;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.15rem;
  font-weight: 500;
  font-family: inherit;
}
.admin__addcurso-form_submit {
  font-size: 1.2rem;
  padding: 0.75rem 0;
  border: none;
  outline: none;
  background-color: #395B64;
  border-radius: 1rem;
  font-weight: 500;
  color: #FFF;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.admin__addcurso-form_cancel {
  text-align: center;
  padding: 0.75rem 0;
  font-size: 1.2rem;
  background-color: #F05D5E;
  border-radius: 1rem;
  font-weight: 500;
  color: #FFF;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.admin__control-data {
  display: grid;
  row-gap: 1.5rem;
}
.admin__control-data_card {
  user-select: none;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 1rem;
  display: flex;
  column-gap: 1rem;
  padding: 1.25rem 1.5rem;
  flex-direction: column;
  row-gap: 1rem;
}
.admin__control-data_card_title h3 {
  font-weight: 500;
  font-size: 1.25rem;
  color: #395B64;
}
.admin__control-data_card_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin__control-data_card_info svg {
  fill: #395B64;
  width: 2.25rem;
  height: 2.25rem;
}
.admin__control-data_card_info span {
  font-weight: 700;
  font-size: 1.75rem;
}
.admin__control-desc {
  background-color: #CCC;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: left;
  margin-bottom: 2.5rem;
}
.admin__control-desc span {
  font-weight: 600;
}
.admin__control-actions {
  margin-bottom: 2.5rem;
}
.admin__control-actions_btn {
  padding: 0.75rem 2rem;
  background-color: #395B64;
  border-radius: 1rem;
  font-weight: 500;
  color: #FFF;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.admin__control-cycle_image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin__control-cycle_image img {
  max-width: 20rem;
}
.admin__control-cycle_image_text {
  text-align: center;
}
.admin__control-cycle_cards {
  display: grid;
  row-gap: 2.5rem;
}
.admin__control-cycle_cards_card {
  position: relative;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 1rem;
  padding: 1.5rem;
  overflow: hidden;
}
.admin__control-cycle_cards_card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 100%;
  background-color: #395B64;
}
.admin__control-cycle_cards_card h3 {
  color: #395B64;
  margin-bottom: 1rem;
  font-size: 1.35rem;
}
.admin__control-cycle_cards_card ul, .admin__control-cycle_cards_card ol {
  list-style: inside;
}
.admin__control-cycle_cards_card p {
  color: #1B262C;
}
.admin__control-cycle_cards_card div {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.admin__control-tabla_status {
  font-weight: 500;
}
.admin__control-tabla_status.true {
  color: #058C42;
}
.admin__control-tabla_status.false {
  color: #F05D5E;
}
.admin__control-update {
  display: grid;
  row-gap: 2.5rem;
}
.admin__control-update_form {
  background-color: #FFF;
  width: 100%;
  display: grid;
  row-gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.admin__control-update_form_input {
  border: 1px solid #CCC;
  width: 100%;
  border-radius: 1rem;
  outline: none;
  padding: 0.7rem 1.5rem 0.7rem 1.2rem;
  font-family: inherit;
  background-color: #E6E6E6;
  color: #1B262C;
  font-size: 1.15rem;
  font-weight: 500;
}
.admin__control-update_form_textarea {
  border: 1px solid #CCC;
  resize: none;
  width: 100%;
  border-radius: 1rem;
  outline: none;
  padding: 0.7rem 1.5rem 0.7rem 1.2rem;
  font-family: inherit;
  background-color: #E6E6E6;
  color: #1B262C;
  font-size: 1.15rem;
  font-weight: 500;
}
.admin__control-update_form_file {
  border: 1px solid #CCC;
  width: 100%;
  background-color: #E6E6E6;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.15rem;
  font-weight: 500;
  font-family: inherit;
}
.admin__control-update_form_submit {
  font-size: 1.2rem;
  padding: 0.75rem 0;
  border: none;
  outline: none;
  background-color: #395B64;
  border-radius: 1rem;
  font-weight: 500;
  color: #FFF;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.admin__control-update_preview {
  cursor: default;
  user-select: none;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #FFF;
  overflow: hidden;
}
.admin__control-update_preview img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  display: block;
}
.admin__control-update_preview_content {
  padding: 1.5rem 1.5rem 2rem 1.5rem;
}
.admin__control-update_preview_content ul, .admin__control-update_preview_content ol {
  list-style: inside;
}
.admin__control-update_preview_content h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.admin__control-update_preview_content p {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.admin__ciclo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.admin__ciclo-header_volver {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  color: #395B64;
  font-size: 1.2rem;
  font-weight: 500;
}
.admin__ciclo-header_volver svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #395B64;
}
.admin__ciclo-danger {
  display: grid;
}
.admin__ciclo-danger_title {
  color: #F05454;
}
.admin__ciclo-danger_delete {
  text-align: center;
  padding: 0.75rem 0;
  background-color: #F05D5E;
  border-radius: 1rem;
  font-weight: 500;
  color: #FFF;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.admin__config-password_form {
  display: grid;
  row-gap: 1.5rem;
  width: 100%;
}
.admin__config-password_form_input {
  border: 1px solid #CCC;
  width: 100%;
  border-radius: 1rem;
  outline: none;
  padding: 0.7rem 1.5rem 0.7rem 1.2rem;
  font-family: inherit;
  background-color: #FFF;
  color: #1B262C;
  font-size: 1.15rem;
  font-weight: 500;
  font-size: 1.25rem;
}
.admin__config-password_form_submit {
  border: none;
  outline: none;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  font-family: inherit;
  background-color: #395B64;
  border-radius: 1rem;
  font-weight: 500;
  color: #FFF;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .section {
    padding: 6rem 0 4.5rem;
  }
  .section__title {
    margin-bottom: 2.5rem;
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 100%;
    margin-right: 0;
  }
  .main {
    position: absolute;
    margin-left: 330px;
    top: 0;
    width: calc(100% - 360px);
  }
}
@media screen and (min-width: 1024px) {
  .nav__link {
    transition: all 0.3s ease-in-out;
  }
  .nav__link:hover {
    background-color: #E6E6E6;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    width: 300px;
    height: 100vh;
    top: 0;
    left: 0;
    border-radius: 2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .nav__logo {
    text-align: center;
  }
  .nav__logo-link {
    font-size: 2rem;
  }
  .nav__close {
    display: none;
  }
}
@media screen and (min-width: 568px) {
  .header {
    padding: 0 2rem;
  }
  .header__tools {
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .header__title h1 {
    font-size: 1.5rem;
  }
  .header__toggle {
    cursor: pointer;
  }
}
@media screen and (min-width: 1024px) {
  .header__profile-link {
    column-gap: 1rem;
  }
  .header__profile-link p {
    display: block;
    color: #1B262C;
    text-decoration: underline;
  }
}
@media screen and (min-width: 1280px) {
  .header__toggle {
    display: none;
  }
}
@media screen and (max-width: 330px) {
  .notification {
    width: 300px;
  }
}
@media screen and (max-width: 300px) {
  .notification {
    width: 270px;
  }
}
@media screen and (min-width: 568px) {
  .notification {
    width: 540px;
  }
  .notification__error, .notification__success {
    font-weight: 500;
    padding: 0.85rem 1.25rem;
  }
  .notification__close svg {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .notification {
    width: 700px;
  }
}
@media screen and (min-width: 568px) {
  .admin__index-data_card_info span {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .admin__index-data {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .admin__index-data {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
  }
  .admin__index-charts {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .admin__index-charts_card {
    width: 98%;
  }
  .admin__index-charts_container {
    width: 98%;
  }
}
@media screen and (min-width: 1280px) {
  .admin__index-charts {
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (min-width: 568px) {
  .admin__usuarios-data_card_info span {
    font-size: 2rem;
  }
  .admin__usuarios-adduser_form_container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .admin__usuarios-data {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .admin__usuarios-adduser_form {
    padding: 2.5rem;
  }
  .admin__usuarios-adduser_form_submit {
    transition: all 0.3s ease-in-out;
  }
  .admin__usuarios-adduser_form_submit:hover {
    background-color: #1B262C;
  }
}
@media screen and (min-width: 1024px) {
  .admin__usuarios-data {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 568px) {
  .admin__pagos-data_card_info span {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .admin__pagos-data {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .admin__pagos-change_form_submit {
    transition: all 0.3s ease-in-out;
  }
  .admin__pagos-change_form_submit:hover {
    background-color: #1B262C;
  }
}
@media screen and (min-width: 1024px) {
  .admin__pagos-data {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .admin__cursos-actions {
    margin-bottom: 3.5rem;
  }
  .admin__cursos-actions_create {
    transition: all 0.3s ease-in-out;
  }
  .admin__cursos-actions_create:hover {
    background-color: #1B262C;
  }
  .admin__cursos-card {
    transition: all 0.3s ease-in-out;
  }
  .admin__cursos-card:hover {
    transform: translateY(-14px);
  }
  .admin__cursos-wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .admin__cursos-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .admin__addcurso-form {
    padding: 2.5rem;
  }
  .admin__addcurso-form_submit {
    transition: all 0.3s ease-in-out;
  }
  .admin__addcurso-form_submit:hover {
    background-color: #1B262C;
  }
  .admin__addcurso-form_cancel {
    transition: all 0.3s ease-in-out;
  }
  .admin__addcurso-form_cancel:hover {
    background-color: #D72323;
  }
}
@media screen and (min-width: 568px) {
  .admin__control-data_card_info span {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .admin__control-data {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .admin__control-actions {
    margin-bottom: 3.5rem;
  }
  .admin__control-actions_btn {
    transition: all 0.3s ease-in-out;
  }
  .admin__control-actions_btn:hover {
    background-color: #1B262C;
  }
  .admin__control-cycle_cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .admin__control-cycle_cards_card {
    transition: all 0.3s ease-in-out;
  }
  .admin__control-cycle_cards_card:hover {
    transform: translateY(-14px);
  }
  .admin__control-update {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
  }
  .admin__control-update_form {
    padding: 2.5rem;
  }
  .admin__control-update_form_submit {
    transition: all 0.3s ease-in-out;
  }
  .admin__control-update_form_submit:hover {
    background-color: #1B262C;
  }
  .admin__control-update_preview {
    align-self: baseline;
  }
}
@media screen and (min-width: 1024px) {
  .admin__control-data {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
  }
  .admin__control-update {
    grid-template-columns: auto 320px;
  }
  .admin__control-subjects_cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .admin__ciclo-header h2 {
    margin-bottom: 0;
  }
  .admin__ciclo-header_volver svg {
    transition: all 0.3s ease-in-out;
  }
  .admin__ciclo-header_volver:hover {
    text-decoration: underline;
  }
  .admin__ciclo-header_volver:hover svg {
    transform: translateX(-6px);
  }
  .admin__ciclo-danger_delete {
    transition: all 0.3s ease-in-out;
  }
  .admin__ciclo-danger_delete:hover {
    background-color: #D72323;
  }
}
@media screen and (min-width: 768px) {
  .admin__config-password_form_submit {
    transition: all 0.3s ease-in-out;
  }
  .admin__config-password_form_submit:hover {
    background-color: #1B262C;
  }
}

/*# sourceMappingURL=styles-dashboard.css.map */
