{% extends "base.html" %}

{% block title %}
    RematesCR - Nueva Contraseña
{% endblock title %}

{% block content %}
    <section class="newP section">
        <div class="newP__container container">
            <div class="newP__content">
                <div class="newP__forms" id="newPasswordContent">
                    <form
                        action="{{ url_for('new_password') }}"
                        method="POST"
                        class="newP__form"
                        accept-charset="utf-8"
                        id="newPasswordForm"
                    >
                        <div class="newP__form-title">
                            <h1>Nueva Contraseña</h1>
                        </div>
                        <div id="newPasswordError" class="newP__form-error"></div>
                        <div class="newP__form-inputs">
                            <label>Dirección E-Mail</label>
                            <input
                                class="newP__form-input"
                                id="email"
                                type="text"
                                autocomplete="off"
                                name="email"
                            />
                        </div>
                        <div class="newP__form-btns grid">
                            <div class="newP__form-btns_confirm">
                                <button class="newP__form-btns_confirm_btn" type="submit">
                                    Confirmar
                                </button>
                            </div>
                            <div class="newP__form-btns_cancel">
                                <a href="{{ url_for('iniciar_sesion') }}" class="newP__form-btns_cancel_btn">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
