{% extends "base.html" %}

{% block content %}
<section class="resetPasswordRequest section">
  <div class="resetPasswordRequest__container container">
    <h2 class="resetPasswordRequest__title section__title">
      Solicitar cambio de <span>contraseña</span>
    </h2>
    <p class="resetPasswordRequest__text">
      Para realizar tu cambio de contraseña ingresa tu correo electrónico y solicita
      el cambio, luego de este proceso te debería llegar un mensaje a tu correo para
      que puedas continuar con el cambio de tu contraseña.
    </p>
    <div class="resetPasswordRequest__wrapper">
      <form action="" method="POST" class="resetPasswordRequest__form">
        {{ form.hidden_tag() }}
        <div class="resetPasswordRequest__form-messages">
          {{ form.email(class_='resetPasswordRequest__form-input', autocomplete='off',
          placeholder='correo@ejemplo.com') }}
          {% for error in form.email.errors %}
          <span class="resetPasswordRequest__form-messages_error">
            [{{ error }}]
          </span>
          {% endfor %}
        </div>
        {{ form.submit(class_='resetPasswordRequest__form-submit') }}
      </form>
    </div>
  </div>
</section>
{% endblock content %}
