{% extends "base.html" %}

{% block content %}
<section class="resetPassword section">
  <div class="resetPassword__container container">
    <h2 class="resetPassword__title section__title">
      Cambia tu <span>contraseña</span>
    </h2>
    <div class="resetPassword__wrapper">
      <form action="" method="POST" class="resetPassword__form">
        {{ form.hidden_tag() }}
        {{ form.password(class_='resetPassword__form-input', placeholder='Nueva Contraseña') }}
        {{ form.submit(class_='resetPassword__form-submit') }}
      </form>
    </div>
  </div>
</section>
{% endblock content %}
