<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% if title %}
      {{ title }} | Remates Costa Rica
      {% else %}
      Remates Costa Rica
      {% endif %}
    </title>
    <!-- SCROLLREVEAL JS -->
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <!-- STYLES CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body>
    <!-- HEADER -->
    {% include "partials/header.html" %}
    <!-- MAIN -->
    <main class="main">
      {% include "partials/notification.html" %}

      {% block content %} {% endblock content %}
    </main>
    <!-- FOOTER -->
    {% include "partials/footer.html" %}

    <!-- SCROLLREVEAL JS - LOCAL -->
    <script src="{{ url_for('static', filename='js/scrollreveal.js') }}"></script>
    <!-- MAIN JS -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
