{% extends "base.html" %}

{% block title %}
    RematesCR
{% endblock title %}

{% block content %}
    <!-- HOME -->
    <section class="home">
        <img src="https://res.cloudinary.com/dajvxg9wj/image/upload/v1651024108/rematescostarica/home_ry71rb.png" class="home__img" alt="Imagen de la pagina principal"/>
        <div class="home__container container grid">
            <div class="home__data">
                <h1 class="home__data-title">TU PROXIMO</h1>
                <span class="home__data-subtitle">HOGAR</span>
                <p class="home__data-desc">
                    REMATE COSTA RICA esta enfocado
                    <br>
                    en que tome las mejores decisiones
                    <br>
                    antes de comprar una propiedad.
                </p>
                <div class="home__data-btns">
                    <a href="#posts" class="home__data-btn">
                        Publicaciones <i class="ri-arrow-down-line home__data-icon"></i>
                    </a>
                </div>
            </div>
            <div class="home__social">
                <a href="https://www.facebook.com/rematesjudiciales.costarica" target="_blank" class="home__social-link">
                    <i class="ri-facebook-fill"></i>
                </a>
                <a href="https://www.tiktok.com/@rematescostarica" target="_blank" class="home__social-link">
                    <i class='bx bxl-tiktok'></i>
                </a>
            </div>
        </div>
    </section>
    <!-- LO QUE OFRECEMOS -->
    <section class="ofrecemos section">
        <div class="ofrecemos__container container grid">
            {% if session.username == "SuperAdminUser" %}
                <div class="ofrecemos__comment">
                    <div class="ofrecemos__comment-forms">
                        <form action="{{ url_for('agregar_contenido') }}" class="ofrecemos__comment-form" method="POST">
                            <div class="ofrecemos__comment-inputs">
                                <textarea
                                        name="information_content"
                                        class="ofrecemos__comment-textarea"
                                        maxlength="1499"
                                        rows="4"
                                        placeholder="Contenido Informatico..."
                                        autocomplete="off"
                                        required
                                ></textarea>
                            </div>
                            <input
                                type="hidden"
                                name="from_page"
                                value="home"
                            />
                            <input
                                type="hidden"
                                name="from_section"
                                value="1"
                            />
                            <div class="ofrecemos__comment-btns">
                                <button class="ofrecemos__comment-btn" type="submit">
                                    Agregar contenido
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="ofrecemos__content">
                    <div class="ofrecemos__info">
                            <div class="ofrecemos__data">
                                {% for cpho in content_page_home_one %}
                                    {% if session.is_edit == "true" %}
                                        {% if session.is_edit_id == cpho.id %}
                                            <div>
                                                <form
                                                    action="{{ url_for('editar_contenido', content_page_id=cpho.id) }}"
                                                    class="ofrecemos__data-form"
                                                    method="POST"
                                                >
                                                    <div class="ofrecemos__data-inputs">
                                                        <textarea
                                                                name="information_content"
                                                                class="ofrecemos__data-textarea"
                                                                maxlength="1499"
                                                                rows="4"
                                                                placeholder="Contenido Informatico..."
                                                                autocomplete="off"
                                                                required
                                                        >{{ cpho.information_content }}</textarea>
                                                    </div>
                                                    <div class="ofrecemos__data-btns">
                                                        <a
                                                            href="{{ url_for('cancelar_contenido', content_page_id=cpho.id) }}"
                                                            class="ofrecemos__data-cancel"
                                                        >
                                                            Cancelar
                                                            <i class="ri-close-line"></i>
                                                        </a>
                                                        <button
                                                            type="submit"
                                                            class="ofrecemos__data-save"
                                                        >
                                                            Guardar
                                                            <i class="ri-check-line"></i>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        {% else %}
                                            <div>
                                                <p class="ofrecemos__data-desc">
                                                    {{ cpho.information_content }}
                                                </p>
                                                <div class="ofrecemos__data-links">
                                                    <a
                                                        href="{{ url_for('eliminar_contenido', content_page_id=cpho.id) }}"
                                                        class="ofrecemos__data-delete"
                                                    >
                                                        Eliminar
                                                        <i class="ri-delete-bin-5-line"></i>
                                                    </a>
                                                    <a
                                                        href="{{ url_for('editar_contenido', content_page_id=cpho.id) }}"
                                                        class="ofrecemos__data-edit"
                                                    >
                                                        Editar
                                                        <i class="ri-edit-line"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div>
                                            <p class="ofrecemos__data-desc">
                                                {{ cpho.information_content }}
                                            </p>
                                            <div class="ofrecemos__data-links">
                                                <a
                                                    href="{{ url_for('eliminar_contenido', content_page_id=cpho.id) }}"
                                                    class="ofrecemos__data-delete"
                                                >
                                                    Eliminar
                                                    <i class="ri-delete-bin-5-line"></i>
                                                </a>
                                                <a
                                                    href="{{ url_for('editar_contenido', content_page_id=cpho.id) }}"
                                                    class="ofrecemos__data-edit"
                                                >
                                                    Editar
                                                    <i class="ri-edit-line"></i>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="ofrecemos__card">
                            <div class="ofrecemos__card-container">
                                <div class="ofrecemos__card-header">
                                    <h2 class="ofrecemos__card-title">Beneficios del curso</h2>
                                </div>
                                <div class="ofrecemos__card-data">
                                    <div class="ofrecemos__card-desc">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <p>El curso tiene una duración de cinco días de sesiones de trabajo.</p>
                                    </div>
                                    <div class="ofrecemos__card-desc">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <p>Cada clase tiene una duración de dos horas cuarenta minutos.</p>
                                    </div>
                                    <div class="ofrecemos__card-desc">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <p>Cada sesión de trabajo es grabada y los alumnos tienen acceso 24/7.</p>
                                    </div>
                                    <div class="ofrecemos__card-desc">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <p>Toda la orientación gratis después del curso.</p>
                                    </div>
                                </div>
                                <div class="ofrecemos__card-btns">
                                    <a href="{{ url_for('registrate') }}" class="ofrecemos__card-btn">Registrate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ofrecemos__contentTwo">
                        <h2 class="ofrecemos__contentTwo-title">Segunda Sección</h2>
                        <div class="ofrecemos__contentTwo-container">
                            <div class="ofrecemos__contentTwo-imageSection">
                                <div class="ofrecemos__contentTwo-imageSection_forms">
                                    <form
                                        action=""
                                        class="ofrecemos__contentTwo-imageSection_form"
                                        method="POST"
                                        enctype="multipart/form-data"
                                    >
                                        <div class="ofrecemos__contentTwo-imageSection_form_title">
                                            <h3>Agregar nueva imagen</h3>
                                        </div>
                                        <div class="ofrecemos__contentTwo-imageSection_form_container">
                                            <div class="ofrecemos__contentTwo-imageSection_form_inputs">
                                                <input
                                                    type="file"
                                                    name="file"
                                                    accept="image/*"
                                                    class="ofrecemos__contentTwo-imageSection_form_file"
                                                />
                                            </div>
                                            <div class="ofrecemos__contentTwo-imageSection_form_btns">
                                                <button class="ofrecemos__contentTwo-imageSection_form_btn" type="submitsubmit">
                                                    Agregar imagen
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="ofrecemos__contentTwo-imageSection_empty">
                                    <div class="ofrecemos__contentTwo-imageSection_empty_container">
                                        <img
                                            src="https://res.cloudinary.com/dajvxg9wj/image/upload/v1658788672/rematescostarica/empty-image_v8iyjt.png"
                                            alt="Imagen como referencia para sesion de imagen vacia"
                                            class="ofrecemos__contentTwo-imageSection_empty_img"
                                            loading="lazy"
                                        />
                                        <p>
                                            Agrega una imagen para proporcionar una mejor apariencia al sitio
                                            <br>
                                            o para brindar una mejor información
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="ofrecemos__contentTwo-contentSection">
                                <div class="ofrecemos__contentTwo-contentSection_forms">
                                    <form
                                        action="{{ url_for('agregar_contenido') }}"
                                        class="ofrecemos__contentTwo-contentSection_form"
                                        method="POST"
                                    >
                                        <div class="ofrecemos__contentTwo-contentSection_form_title">
                                            <h3>Agregar nuevo contenido informatico</h3>
                                        </div>
                                        <div class="ofrecemos__contentTwo-contentSection_form_container">
                                            <div class="ofrecemos__contentTwo-contentSection_form_inputs">
                                                <textarea
                                                        name="information_content"
                                                        class="ofrecemos__contentTwo-contentSection_form_textarea"
                                                        maxlength="1499"
                                                        rows="4"
                                                        placeholder="Contenido Informatico..."
                                                        autocomplete="off"
                                                        required
                                                ></textarea>
                                            </div>
                                            <input
                                                type="hidden"
                                                name="from_page"
                                                value="home"
                                            />
                                            <input
                                                type="hidden"
                                                name="from_section"
                                                value="2"
                                            />
                                            <div class="ofrecemos__contentTwo-contentSection_form_btns">
                                                <button class="ofrecemos__contentTwo-contentSection_form_btn" type="submit">
                                                    Agregar contenido
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="ofrecemos__contentTwo-contentSection_info">
                                    <div class="ofrecemos__contentTwo-contentSection_data">
                                        {% for cpht in content_page_home_two %}
                                            {% if session.is_edit == "true" %}
                                                {% if session.is_edit_id == cpht.id %}
                                                    <div>
                                                        <form
                                                            action="{{ url_for('editar_contenido', content_page_id=cpht.id) }}"
                                                            class="ofrecemos__contentTwo-contentSection_data_form"
                                                            method="POST"
                                                        >
                                                            <div class="ofrecemos__contentTwo-contentSection_data_inputs">
                                                                <textarea
                                                                        name="information_content"
                                                                        class="ofrecemos__contentTwo-contentSection_data_textarea"
                                                                        maxlength="1499"
                                                                        rows="4"
                                                                        placeholder="Contenido Informatico..."
                                                                        autocomplete="off"
                                                                        required
                                                                >{{ cpht.information_content }}</textarea>
                                                            </div>
                                                            <div class="ofrecemos__contentTwo-contentSection_data_btns">
                                                                <a
                                                                    href="{{ url_for('cancelar_contenido', content_page_id=cpht.id) }}"
                                                                    class="ofrecemos__contentTwo-contentSection_data_cancel"
                                                                >
                                                                    Cancelar
                                                                    <i class="ri-close-line"></i>
                                                                </a>
                                                                <button
                                                                    type="submit"
                                                                    class="ofrecemos__contentTwo-contentSection_data_save"
                                                                >
                                                                    Guardar
                                                                    <i class="ri-check-line"></i>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                {% else %}
                                                    <div>
                                                        <p class="ofrecemos__contentTwo-contentSection_data_desc">
                                                            {{ cpht.information_content }}
                                                        </p>
                                                        <div class="ofrecemos__contentTwo-contentSection_data_links">
                                                            <a
                                                                href="{{ url_for('eliminar_contenido', content_page_id=cpht.id) }}"
                                                                class="ofrecemos__contentTwo-contentSection_data_delete"
                                                            >
                                                                Eliminar
                                                                <i class="ri-delete-bin-5-line"></i>
                                                            </a>
                                                            <a
                                                                href="{{ url_for('editar_contenido', content_page_id=cpht.id) }}"
                                                                class="ofrecemos__contentTwo-contentSection_data_edit"
                                                            >
                                                                Editar
                                                                <i class="ri-edit-line"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                <div>
                                                    <p class="ofrecemos__contentTwo-contentSection_data_desc">
                                                        {{ cpht.information_content }}
                                                    </p>
                                                    <div class="ofrecemos__contentTwo-contentSection_data_links">
                                                        <a
                                                            href="{{ url_for('eliminar_contenido', content_page_id=cpht.id) }}"
                                                            class="ofrecemos__contentTwo-contentSection_data_delete"
                                                        >
                                                            Eliminar
                                                            <i class="ri-delete-bin-5-line"></i>
                                                        </a>
                                                        <a
                                                            href="{{ url_for('editar_contenido', content_page_id=cpht.id) }}"
                                                            class="ofrecemos__contentTwo-contentSection_data_edit"
                                                        >
                                                            Editar
                                                            <i class="ri-edit-line"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="ofrecemos__content">
                    <div class="ofrecemos__info">
                            <div class="ofrecemos__data">
                                <div class="ofrecemos__data">
                                    {% for cpho in content_page_home_one %}
                                        <p class="ofrecemos__data-desc">
                                            {{ cpho.information_content }}
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="ofrecemos__card">
                            <div class="ofrecemos__card-container">
                                <div class="ofrecemos__card-header">
                                    <h2 class="ofrecemos__card-title">Beneficios del curso</h2>
                                </div>
                                <div class="ofrecemos__card-data">
                                    <div class="ofrecemos__card-desc">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <p>El curso tiene una duración de cinco días de sesiones de trabajo.</p>
                                    </div>
                                    <div class="ofrecemos__card-desc">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <p>Cada clase tiene una duración de dos horas cuarenta minutos.</p>
                                    </div>
                                    <div class="ofrecemos__card-desc">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <p>Cada sesión de trabajo es grabada y los alumnos tienen acceso 24/7.</p>
                                    </div>
                                    <div class="ofrecemos__card-desc">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <p>Toda la orientación gratis después del curso.</p>
                                    </div>
                                </div>
                                <div class="ofrecemos__card-btns">
                                    <a href="{{ url_for('registrate') }}" class="ofrecemos__card-btn">Registrate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ofrecemos__contentTwo">
                        <div class="ofrecemos__contentTwo-container">
                            <div class="ofrecemos__contentTwo-imageSection"></div>
                            <div class="ofrecemos__contentTwo-contentSection">
                                <div class="ofrecemos__contentTwo-contentSection_data">
                                    {% for cpht in content_page_home_two %}
                                        <p class="ofrecemos__contentTwo-contentSection_data_desc">
                                            {{ cpht.information_content }}
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    <!-- POSTS -->
    <section class="posts section" id="posts">
        <div class="posts__container container">
            <h2 class="posts__title">Sección de publicaciones</h2>
            {% if session.username == "SuperAdminUser" %}
                {% if posts|length == 0 %}
                    <div class="posts__comment">
                        <div class="posts__comment-forms">
                            <form action="{{ url_for('agregar_post') }}" class="posts__comment-form" method="POST">
                                <div class="posts__comment-inputscont">
                                    <div>
                                        <input
                                            type="text"
                                            name="title"
                                            class="posts__comment-input"
                                            autocomplete="off"
                                            placeholder="Titulo..."
                                        />
                                    </div>
                                    <div>
                                        <textarea
                                                name="description"
                                                class="posts__comment-textarea"
                                                maxlength="999"
                                                rows="4"
                                                placeholder="Descripción..."
                                                autocomplete="off"
                                                required
                                        ></textarea>
                                    </div>
                                </div>
                                <div class="posts__comment-btns">
                                    <button class="posts__comment-btn" type="submit">
                                        Agregar publicacion
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="posts__empty">
                        <div class="posts__empty-container">
                            <img
                                src="https://res.cloudinary.com/dajvxg9wj/image/upload/v1657765451/rematescostarica/empty-posts_ers0f0.png"
                                class="posts__empty-img"
                                alt="Imagen de referencia para las publicaciones"
                                loading="lazy"
                            />
                            <p>
                                Esta sección aún no cuenta con publicaciones realizadas
                                <br>
                                Puedes realizar pequeñas publicaciones informativas para tus usuarios
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="posts__comment">
                        <div class="posts__comment-forms">
                            <form action="{{ url_for('agregar_post') }}" class="posts__comment-form" method="POST">
                                <div class="posts__comment-inputscont">
                                    <div>
                                        <input
                                            type="text"
                                            name="title"
                                            class="posts__comment-input"
                                            autocomplete="off"
                                            placeholder="Titulo..."
                                        />
                                    </div>
                                    <div>
                                        <textarea
                                                name="description"
                                                class="posts__comment-textarea"
                                                maxlength="999"
                                                rows="4"
                                                placeholder="Descripción..."
                                                autocomplete="off"
                                                required
                                        ></textarea>
                                    </div>
                                </div>
                                <div class="posts__comment-btns">
                                    <button class="posts__comment-btn" type="submit">
                                        Agregar publicacion
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="posts__results">
                        <div class="posts__results-container">
                            {% for p in posts %}
                                <div class="posts__results-card">
                                    <div class="posts__results-card_image">
                                        <img
                                            src="{{ p.user_image }}"
                                            alt="Perfil de usuario admin"
                                            loading="lazy"
                                        />
                                    </div>
                                    <div class="posts__results-card_data">
                                        <div>
                                            <h3 class="posts__results-card_data_title">
                                                {{ p.title }}
                                            </h3>
                                        </div>
                                        <div>
                                            <span class="posts__results-card_data_time">
                                                {{ moment(p.timestamp).fromNow() }}
                                            </span>
                                        </div>
                                        <div>
                                            <p class="posts__results-card_data_description">
                                                {{ p.description }}
                                            </p>
                                        </div>
                                        <div>
                                            <a href="{{ url_for('eliminar_post', post_id=p.id) }}" class="posts__results-card_data_delete">
                                                Eliminar
                                                <i class="ri-delete-bin-5-line"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% else %}
                {% if posts|length == 0 %}
                    <div class="posts__empty">
                        <div class="posts__empty-container">
                            <img
                                src="https://res.cloudinary.com/dajvxg9wj/image/upload/v1657765451/rematescostarica/empty-posts_ers0f0.png"
                                class="posts__empty-img"
                                alt="Imagen de referencia para las publicaciones"
                                loading="lazy"
                            />
                            <p>
                                Esta sección aún no cuenta con publicaciones realizadas
                                <br>
                                por parte del administrador del sitio
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="posts__results">
                        <div class="posts__results-container">
                            {% for p in posts %}
                                <div class="posts__results-card">
                                    <div class="posts__results-card_image">
                                        <img
                                            src="{{ p.user_image }}"
                                            alt="Perfil de usuario admin"
                                            loading="lazy"
                                        />
                                    </div>
                                    <div class="posts__results-card_data">
                                        <div>
                                            <h3 class="posts__results-card_data_title">
                                                {{ p.title }}
                                            </h3>
                                        </div>
                                        <div>
                                            <span class="posts__results-card_data_time">
                                                {{ moment(p.timestamp).fromNow() }}
                                            </span>
                                        </div>
                                        <div>
                                            <p class="posts__results-card_data_description">
                                                {{ p.description }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock content %}
