@media screen and (min-width: 568px) {
  .admin__usuarios {
    &-data {
      &_card {
        &_info {
          & span {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .admin__usuarios {
    &-data {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .admin__usuarios {
    &-data {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1.5rem;
    }
  }
}
