.cursos {
    font-family: $raleway;

    &__title {
        text-align: center;
        font-size: 1.7rem;
    }

    &__profesor {
        text-align: center;
        margin-top: .7rem;
        margin-bottom: 1.7rem;
        font-size: 1.05rem;
    }

    &__free {
        row-gap: 2rem;

        &-videos {
            &_data {
                & p {
                    font-size: 1.15rem;
                    line-height: 1.3;
                    text-align: left;
                    margin-top: 1rem;
                }
            }
        }

        &-cards {
            &_card {
                padding: 3rem 2rem;
                background-color: $white-color;
                border-radius: .5rem;
                box-shadow: 0 4px 20px rgba(0,0,0,.1);
                display: grid;
                row-gap: 1.5rem;
            }

            &_header {
                & h3 {
                    text-align: left;
                    font-size: 1.3rem;
                }
            }

            &_data {
                display: grid;
                row-gap: 1.5rem;

                & div {
                    display: flex;
                    column-gap: .5rem;
                    align-items: flex-start;

                    & i {
                        color: $primary-color-sub;
                        font-size: 1.5rem;
                        font-weight: 700;
                    }

                    & p {
                        line-height: 1.3;
                        font-size: 1.15rem;
                        text-align: left;
                    }
                }
            }

            &_btns { display: flex; }

            &_btn {
                cursor: pointer;
                outline: none;
                border: none;
                padding: 1rem 0;
                background-color: $primary-color-sub;
                font-size: 1.2rem;
                border-radius: .5rem;
                width: 100%;
                color: $white-color;
                font-family: $raleway;
                text-align: center;
                font-weight: 500;
            }
        }
    }

    &__more {
        display: grid;
        row-gap: 1.5rem;
        margin-top: 3rem;

        &-content {
            background-color: $white-color;
            padding: 2rem 1rem;
            border-radius: .5rem;
            box-shadow: 0 4px 20px rgba(0,0,0,.1);
        }

        &-header {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-bottom: 1.5rem;
        }

        &-title {
            font-size: 1.35rem;
            text-align: left;
        }

        &-arrow {
            font-size: 2.5rem;
            color: $primary-color-sub;
            font-weight: 700;
            margin-left: auto;
            transition: .5s;
        }

        &-data {
            display: grid;
            row-gap: 1.5rem;

            & div {
                display: flex;
                column-gap: .5rem;

                & i {
                    color: $primary-color-sub;
                    font-size: 1.05rem;
                }

                & p {
                    text-align: left;
                    font-size: 1.15rem;
                    line-height: 1.3;
                }
            }
        }

        &-btn {
            background-color: $primary-color-sub;
            color: $white-color;
            padding: .7rem 1.2rem;
            border: none;
            outline: none;
            border-radius: .5rem;
            font-size: 1.2rem;
            cursor: pointer;
            box-shadow: 0 4px 20px rgba(0,0,0,.1);
            font-family: $raleway;
            font-weight: 500;
        }
    }
}

.cursos__more-close .cursos__more-data {
    height: 0;
    overflow: hidden;
}

.cursos__more-open .cursos__more-data { height: max-content; }

.cursos__more-open .cursos__more-arrow { transform: rotate(-180deg); }

div#paypal-button { opacity: .9; }
