.editarU {
    font-family: $raleway;

    &__form {
        box-shadow: 0 4px 20px rgba(0,0,0,.1);
        background-color: $white-color;
        padding: 3rem 2rem;
        border-radius: .5rem;
        display: grid;
        row-gap: 1.5rem;
        width: 100%;

        &-title {
            & h1 {
                text-align: center;
                font-size: 1.85rem;
            }
        }

        &-inputscont { row-gap: 1.5rem; }

        &-inputs {
            display: grid;
            background-color: $background-color;
            padding: 1rem .5rem 1rem 1rem;
            border-radius: .5rem;
            row-gap: .3rem;

            & label { font-size: 1.1rem; }
        }

        &-input {
            background-color: $background-color;
            border: none;
            outline: none;
            font-size: 1.15rem;
            width: 100%;
            font-family: $raleway;
            font-weight: 500;
        }

        &-danger {
            color: #ff2d2d;
            text-align: center;
            font-size: 1.25rem;
        }

        &-confirm {
            display: flex;

            &_btn {
                @include edit-profile-btn($primary-color-sub);
            }
        }

        &-cancel {
            display: flex;

            &_btn {
                @include edit-profile-btn(#ff2d2d);
            }
        }
    }
}
