.home {
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: 30%;
    }

    &__container {
        position: relative;
        height: calc(100vh - 3rem);
        row-gap: 3rem;
        align-content: center;
    }

    &__data {
        position: absolute;
        top: 3rem;
        font-family: $raleway;

        &-title { font-size: 2.5rem; }

        &-subtitle {
            font-size: 2.5rem;
            font-weight: 300;
        }

        &-desc {
            font-weight: 400;
            font-size: 1.3rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }

        &-btns { display: flex; }

        &-btn {
            background-color: #000;
            padding: 1rem 3rem;
            cursor: pointer;
            font-size: 1.2rem;
            color: $white-color;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: .5rem;
            @include transition-ease;

            &:hover { background-color: #000; }
        }

        &-icon { font-size: 1.5rem; }
    }

    &__social {
        position: absolute;
        left: 0;
        bottom: 3.8rem;
        display: flex;
        column-gap: 1.5rem;

        &-link {
            background-color: $white-color;
            color: $primary-color;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            font-size: 1.7rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.ofrecemos {
    font-family: $raleway;

    &__container {
        row-gap: 3rem;
    }

    &__info {
        display: grid;
        grid-template-columns: 10% auto;
        column-gap: .5rem;
    }

    &__content {
        display: grid;
        row-gap: 3rem;
    }

    &__comment {
        &-form {
            display: grid;
            row-gap: 1rem;
            width: 100%;
        }

        &-textarea {
            background-color: $white-color;
            border: none;
            outline: none;
            font-size: 1.2rem;
            font-weight: 500;
            resize: none;
            box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
            border-radius: .5rem;
            padding: 1rem .5rem 1rem 1rem;
            font-family: $raleway;
            width: 100%;
        }

        &-btn {
                background-color: cornflowerblue;
            font-size: 1.2rem;
            font-weight: 500;
            padding: 1rem 0;
            color: $white-color;
            font-family: $raleway;
            cursor: pointer;
            border-radius: .5rem;
            box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
            width: 100%;
            border: none;
            outline: none;
        }
    }

    &__decoration {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 1rem;

        &-line {
            background-color: $primary-color-sub;
            width: 3px;
        }

        &-line:nth-child(1) { height: 100%; }
        &-line:nth-child(2) { height: 20%; }
        &-line:nth-child(3) { height: 10%; }
    }

    &__data {
        &-desc {
            font-size: 1.2rem;
            text-align: left;
            line-height: 1.4;
            font-weight: 500;
        }
    }

    &__card {
        &-container {
            box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
            border-radius: .5rem;
            padding: 3rem 2rem;
            display: grid;
            row-gap: 1.5rem;
            cursor: default;
            background-color: $white-color;
        }

        &-title {
            text-align: center;
            font-size: 1.5rem;
        }

        &-data {
            display: grid;
            row-gap: 1rem;
        }

        &-desc {
            display: flex;
            column-gap: .5rem;
            line-height: 1.4;
            font-size: 1.04rem;
            font-weight: 500;

            & i {
                font-size: 1.35rem;
                color: $primary-color-sub;
            }
        }

        &-btn {
            display: flex;
            justify-content: center;
            padding: 1rem 0;
            background-color: $primary-color-sub;
            color: $white-color;
            border-radius: .5rem;
            font-size: 1.2rem;
            cursor: pointer;
            font-weight: 500;
        }
    }
}

.posts {
    font-family: $raleway;
    margin-bottom: 2rem;

    &__title {
        text-align: center;
    }

    &__comment {
        margin-top: 2rem;

        &-form {
            display: grid;
            row-gap: 1rem;
            width: 100%;
        }

        &-inputscont {
            display: grid;
            row-gap: 1rem;
        }

        &-input {
            font-family: $raleway;
            font-size: 1.2rem;
            border: none;
            outline: none;
            font-weight: 500;
            width: 100%;
            background-color: $white-color;
            border-radius: .5rem;
            padding: 1rem .5rem 1rem 1rem;
            box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
        }

        &-textarea {
            background-color: $white-color;
            border: none;
            outline: none;
            font-size: 1.2rem;
            font-weight: 500;
            resize: none;
            box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
            border-radius: .5rem;
            padding: 1rem .5rem 1rem 1rem;
            font-family: $raleway;
            width: 100%;
        }

        &-btn {
            background-color: cornflowerblue;
            font-size: 1.2rem;
            font-weight: 500;
            padding: 1rem 0;
            color: $white-color;
            font-family: $raleway;
            cursor: pointer;
            border-radius: .5rem;
            box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
            width: 100%;
            border: none;
            outline: none;
        }
    }

    &__empty {
        &-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            & p {
                font-size: 1.1rem;
                font-weight: 500;
                text-align: center;
            }
        }
    }

    &__results {
        margin-top: 3rem;

        &-container {
            display: grid;
            row-gap: 2rem;
        }

        &-card {
            display: grid;
            grid-template-columns: 13% auto;
            column-gap: 1rem;
            width: 100%;
            border-radius: .5rem;
            background-color: #cccccc;
            padding: 1rem;

            &_image {
                display: flex;
                align-items: flex-start;
                justify-content: center;

                & img { border-radius: 50%; }
            }

            &_data {
                display: grid;
                row-gap: .5rem;

                &_description {
                    line-height: 1.4;
                    font-size: 1.05rem;
                    font-weight: 500;
                }

                &_time { font-size: 1.05rem; }

                &_title { font-size: 1.2rem; }
                
                &_delete {
                    color: #ff2d2d;
                    font-size: 1.05rem;
                    font-weight: 500;
                    width: 40%;
                    display: flex;
                    align-items: center;
                    column-gap: .5rem;

                    & i { font-size: 1.2rem; }
                }
            }

        }
    }
}
