.iniciaradmin {
    height: 100vh;

    &__form {
        box-shadow: 0 4px 20px rgba(0,0,0,.3);
        font-family: $raleway;
        background-color: $white-color;
        padding: 3rem 2rem;
        border-radius: .5rem;
        display: grid;
        row-gap: 1.5rem;

        &-title {
            & h1 {
                font-size: 1.65rem;
                text-align: center;
            }
        }

        &-inputs {
            background-color: $background-color;
            padding: 1rem .5rem 1rem 1rem;
            border-radius: .5rem;
            display: grid;
            row-gap: .3rem;

            & label { font-size: 1.1rem; }
        }

        &-input {
            background-color: $background-color;
            font-size: 1.15rem;
            border: none;
            outline: none;
            width: 100%;
        }

        &-btn {
            background-color: $primary-color-sub;
            border-radius: .5rem;
            padding: 1.15rem 0;
            width: 100%;
            border: none;
            outline: none;
            font-size: 1.15rem;
            color: $white-color;
            cursor: pointer;
            text-transform: uppercase;
            font-family: $raleway;
        }
    }
}
