.registrate {
    &__wrap {
        box-shadow: 0 4px 20px rgba(0,0,0,.3);
        border-radius: .5rem;
    }

    &__forms {
        padding: 3rem 2rem;
        background-color: $white-color;
        border-radius: .5rem .5rem 0 0;
    }

    &__form {
        display: grid;
        row-gap: 1.5rem;
        width: 100%;
        font-family: $raleway;

        &-title {
            & h1 {
                text-align: center;
                font-size: 1.85rem;
            }
        }

        &-text {
            text-align: center;
            font-size: 1.15rem;
        }

        &-inputscont { row-gap: 1rem; }

        &-inputs {
            display: grid;
            background-color: $background-color;
            padding: 1rem .5rem 1rem 1rem;
            border-radius: .5rem;
            row-gap: .3rem;

            & label { font-size: 1.1rem; }
        }

        &-input {
            background-color: $background-color;
            border: none;
            outline: none;
            font-size: 1.15rem;
            width: 100%;
        }

        &-btn {
            width: 100%;
            padding: 1.15rem 0;
            border: none;
            outline: none;
            font-size: 1.15rem;
            text-transform: uppercase;
            background-color: $primary-color-sub;
            border-radius: 0.5rem;
            color: $white-color;
            cursor: pointer;
            font-family: $raleway;
        }
    }

    &__info {
        background-color: $primary-color-sub;
        padding: 3rem 2rem;
        border-radius: 0 0 .5rem .5rem;

        &-title {
            text-align: center;
            color: $white-color;
            font-family: $raleway;
            margin-bottom: 3rem;
        }

        &-btns {
            display: flex;
            justify-content: center;
        }

        &-btn {
            background-color: $white-color;
            padding: 1rem 3rem;
            font-size: 1.15rem;
            text-transform: uppercase;
            font-family: $raleway;
            color: #000;
            border-radius: .5rem;
            cursor: pointer;
            font-weight: 500;
        }
    }
}
