.videos {
    font-family: $raleway;

    &__container { row-gap: 3rem; }

    &__current {
        &-content {
            width: 100%;

            &_iframe {
                height: 20rem;
                width: 100%;
            }
        }

        &-title {
            margin-top: 1rem;

            & h3 { font-size: 1.3rem; }
        }
    }

    &__lists {
        &-content {
            display: grid;
            row-gap: 1.5rem;
        }

        &-card {
            border-left: 7px solid $primary-color-sub;
            background-color: $white-color;
            padding: 1rem 2rem 1rem 1rem;
            border-radius: .5rem;
            box-shadow: 0 4px 20px rgba(0,0,0,.1);
            cursor: pointer;

            &_cont {
                display: grid;
                grid-template-columns: 1fr;
                column-gap: .7rem;

                & p {
                    color: #000;
                    font-size: 1.1rem;
                }
            }
        }
    }
}
