@use '../utils/colors' as c;
@use '../utils/mixins' as m;

.resetPasswordRequest {
  background-color: c.$White;

  &__title {
    & span {
      color: c.$Imperial-red;
    }
  }

  &__text {
    line-height: 1.7;
    text-align: left;
  }

  &__wrapper {
    margin-top: 2.5rem;
  }

  &__form {
    display: grid;
    width: 100%;
    row-gap: 1.5rem;

    &-messages {
      display: grid;
      row-gap: .5rem;

      &_error {
        color: c.$Bittersweet;
        font-size: 1.15rem;
        text-align: center;
        font-weight: 500;
      }
    }

    &-input {
      border: 1px solid c.$Silver;
      @include m.input(c.$Platinum-light, c.$Gunmetal, 1rem);
    }

    &-submit {
      cursor: pointer;
      font-family: inherit;
      font-size: 1.25rem;
      padding: .75rem 1.25rem;
      outline: none;
      border: none;
      @include m.btn(c.$Dark-slate-gray, c.$White, 1rem);
    }
  }
}
