@use '../utils/colors' as c;

.admin__usuarios {
  &-desc {
    background-color: c.$Silver;
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: left;
    margin-bottom: 2.5rem;

    & span {
      font-weight: 600;
    }
  }

  &-data {
    display: grid;
    row-gap: 1.5rem;

    &_card {
      user-select: none;
      background-color: c.$White;
      box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px,
        rgb(0 0 0 / 23%) 0px 3px 6px;
      border-radius: 1rem;
      display: flex;
      column-gap: 1rem;
      padding: 1.25rem 1.5rem;
      flex-direction: column;
      row-gap: 1rem;

      &_title {
        & h3 {
          font-weight: 500;
          font-size: 1.25rem;
          color: c.$Dark-slate-gray;
        }
      }

      &_info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & svg {
          fill: c.$Dark-slate-gray;
          width: 2.25rem;
          height: 2.25rem;
        }

        & span {
          font-weight: 700;
          font-size: 1.75rem;
        }
      }
    }
  }

  &-tabla {
    &_status {
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }

      &.true {
        color: c.$Sea-green;
      }

      &.false {
        color: c.$Bittersweet;
      }
    }
  }
}
